[2017-06-01 06:21] pkaske opened #2 "Docker container on Arch Linux: ECONNREFUSED"
Thanks for this awesome project. That's exactly what I've bee looking for. I just have problems getting this running with docker. I followed the steps in the readme to setup the docker container and used the same curl command to test the bot-render. I always got this output.

Seems like the express server can't connect to the chrome dev tools interface?!

[code]

[2017-06-01 18:10] samuelli commented on #2
What OS are you using? At the moment this was built for Ubuntu platforms and I assume chrome gets installed as `/usr/bin/google-chrome-beta`. Probably needs to be tuned for other platforms.

[2017-06-01 18:10] samuelli commented on #2
Wait its docker hmm.

[2017-06-01 18:33] samuelli commented on #2
Can you try `docker build -t bot-render-container --no-cache=true`? I just tried and I was having a (different) issue and that fixed it for me.

[2017-06-01 18:57] pkaske commented on #2
Here what I tried just now
[code]

The result remains the same.
I'm using `Docker version 17.05.0-ce, build 89658bed64`

Is there any more information I can give you?

[2017-06-01 19:22] samuelli commented on #2
Hmm not sure what it is.
 * What OS are you using?
 * Can you run `docker exec bot-render-container curl http://localhost:9222/json/list` and `docker exec bot-render-container ls /usr/bin/google-chrome-beta`?

[2017-06-01 19:37] pkaske commented on #2
I'm on Linux Arch (Antergos to be precise).
I opened a shell on the container and executed `ls -ahl /usr/bin/google-chrome-beta`.

Output:
`lrwxrwxrwx 1 root root 42 May 31 07:44 google-chrome-beta -> /opt/google/chrome-beta/google-chrome-beta`

Chrome is there. I then tried to start it manually in the shell of the container:

[code]

[2017-06-01 19:43] pkaske commented on #2
I tried `--no-sandbox`. This seems to work. Chrome then starts and accepts requests.

[code]

Found that info here: https://github.com/jessfraz/dockerfiles/issues/65
To disable sandbox is of course not really a good thing to do...

[2017-06-01 19:55] pkaske commented on #2
Seems the cause is that arch doesn't have userspaces enabled by default.
https://github.com/jessfraz/dockerfiles/issues/65#issuecomment-241536092

[2017-06-01 22:19] samuelli commented on #2
I see, thanks for investigating!

If you want to disable sandbox in docker, you can add `--no-sandbox` flag to the config https://github.com/samuelli/bot-render/blob/master/chromium.js#L13

[2017-06-01 22:19] #2 closed

[2017-06-15 18:09] Raxxor opened #3 "Any other conditions are required of docker?"
`ubuntu16.04  Docker version 17.03.1-ce, build c6d412e`

When I tried

docker console output following logs

[2017-06-20 17:12] samuelli commented on #3
Did you build with the `--no-cache` flag?

[2017-06-20 17:13] samuelli commented on #3
See also https://github.com/samuelli/bot-render/issues/2 which they required `--disable-sandbox`

[2017-06-22 19:04] LasaleFamine commented on #3
I confirm the same problem on MacOS. I solved the problem adding the `--disable-sandbox` flag within the `chromium.js` file.

Maybe this should be written on the README 👍

[2017-06-22 23:15] samuelli commented on #3
Yup, will do. Interestingly the original issue here was on Ubuntu, so I'm curious as to whether its the same problem. @Raxxor: does this fix it for you?

[2017-06-23 09:02] Raxxor commented on #3
Thanks for @samuelli & @LasaleFamine 's comments.
Docker was built by dockerhub, so it is buit with "no cache" mode. Now I am pulling images from dockerhub with adding "--disable-sandbox' in chromium.js.
BTW, i tried to run original files , and some pages was not rendered successfully.
[code]

[2017-06-28 21:21] samuelli commented on #3
@justinribeiro has landed added some great recommendations to the readme which address this, so I'm closing this issue. Please file issues for more errors that you might be experiencing.

@Raxxor: can you file separate issues for anything else you might be seeing?

[2017-06-28 21:21] #3 closed

[2017-07-05 18:48] justinribeiro opened #5 "[thought] cache layer and return"
I have a notion that I'd like to add a cache layer that checks to see if the site has been rendered and stored in the last X amount of seconds. I have two ideas around this:

1. Use the google-cloud node libs to use datastore as a key/val store (ala https://github.com/stephenplusplus/google-cloud-kvstore)
2. Use an external redis/memcache setup (which is in the gae flex docs).

Option one obviousl

[2017-07-05 18:58] samuelli commented on #5
Yep, this is all stuff I wanted to add but haven't quite had the time to work on yet.

Definitely planning a pretty complex caching layer. Given that rendering can be pretty slow, I'm thinking some combination of parameters in the request (eg. time before stale, time for refresh) that result in a queued render.

eg. you request resource a (stale = 6 day, refresh = 1 day), and if it was cached 2 da

[2017-07-05 19:38] justinribeiro commented on #5
The queued render is a good idea; there is a pretty clean path to this on the existing GCP side (cron/task queues) although could arch something different. As you note, there's some complexity there via time before stale and what not, but doable. :-)

Text long has a 1MB limit in GAE datastore (non-indexed), String in Redis has a 512MB limit.

If you've got a doc lying around, happy to contribute

[2017-07-05 21:08] samuelli commented on #5
Unrelated, why is only returning head awesome? That's planned to be changed to return the whole (serialised) response. Ref: https://github.com/justinribeiro/pwa-firebase-functions-botrender/blob/master/functions/index.js#L67

1MB should be fine... if we use compression.

I sent you the doc of what I have so far, but it's mostly around what needs to be done and less about architectural design. I ha

[2017-07-06 23:00] justinribeiro commented on #5
It's awesome because when I tested this last year with headless_shell and some other AppEngine python things, I found that you can actually return even _less_ to most link sharing bots (they really just love those open graph tags). Cut down the response to bare bones data, speed up where item is being shared. Now, _should_ you only send the `<head>`? Probably not. :-) Basically playing "pffft who

[2017-07-08 07:46] yadvendar commented on #5
@justinribeiro @samuelli Can we not have both the functionalities in `bot-render`?

1. Send limited amount of data for social sharing/link sharing bots (taking Open Graph tags into account).
2. Dump complete HTML DOM for search engine bots.

Probably, control this by having an additional query param in the existing route.

Background: I landed on this repo looking for a solution to our use case -

[2017-07-10 13:27] yadvendar commented on #5
I have done the same for our use case [here](https://github.com/yadvendar/bot-render/commit/16b6ee9babc08d316e05eb960cec8f91bd19eb55). Please let me know your views and if I need to modify anything to fit into your contributing guidelines.

[2017-07-10 17:41] samuelli commented on #5
I've suggested this before, but the benefits seems questionable. Performance & size is not typically a concern with any of these bots. This solution already requires differential serving, so having to do another check for sharing/search adds a little bit of extra complexity.

My thoughts at this stage are to serve full content to all of these agents until there is a demonstrable case for why this

[2017-07-17 03:25] idibidiart opened #14 "Thinking out loud..."
Hi

I'm trying to wrap my mind around the significance of this project, and I'd like to get your feedback on my thinking about it, in case I'm missing something.

EDITED:

I have a React app that I wish to expose to search bots (for SEO.) I don’t believe in using SSR because it negates the scalability we get with Single Page Apps (SPAs) where we do all the CPU-bound work of rendering the page on t

[2017-07-17 18:15] samuelli commented on #14
You'll probably need to do some testing, but search engines typically don't like this approach since its easy to hack around. For example, to improve SEO scores, I might inject lots of keywords into a off-screen div. It's also a bunch of work you'll need to do which is very specific to your application (ie knowing what data you will need on the page).

Yep, this is what this repo is. It's not prod

[2017-07-17 18:29] idibidiart commented on #14
Yes, I should have clarified that if you're using GraphQL to fetch the data for each route you're only dealing with data types and their resolver functions, and you set that up once for the entire app, i.e. it's route/page independent.

As to the off-screen div, it could be off-screen via a complex 'transform' not simply 'left: -1000px;' so there is really no way for the bot to interpret transform

[2017-07-17 18:38] samuelli commented on #14
I'm not sure I understand this. A bot like googlebot uses a browser, so it is able to detect if it is onscreen.

[2017-07-17 18:42] idibidiart commented on #14
Oh, I see. You are completely right. I forgot the context was a browser.

[2017-07-17 18:44] idibidiart commented on #14
Thank you! Please let me know if you accept some donations. Would love to see this come to production ready state!

[2017-07-17 18:44] #14 closed

[2017-07-17 22:21] samuelli opened #15 "Strip script tags from output"
Maybe also link rel="import"?

[2017-07-18 19:59] samuelli commented on #5
**Memcached or datastore?**
Memcached is a distributed memory object caching system which allows for rapid reads/writes. Google Cloud Datastore is a NoSQL, scaling datastore.

- **Size:** Gzip size of a sample page on webcomponents.org was 30KB. Redis free tier only supports 30MB which means we’re limited to storing 1000 pages in the cache. For any reasonable service size, this would result in a h

[2017-07-20 19:09] samuelli opened #18 "CSS not inlined"
http://localhost:3000/?url=https://polymer-shop2.appspot.com&wc-inject-shadydom=true

Maybe something to do with the styles?

[2017-07-20 21:01] #15 closed

[2017-07-20 22:18] samuelli commented on #18
Looks like this is pretty standard. CSS isn't serialized as part of the response.

For comparison, here's a basic app with a CSS file:
https://big-tuba.glitch.me/

Prerender doesn't preserve this CSS:
http://service.prerender.io/https://big-tuba.glitch.me/

And neither do we:
http://bot-render.appspot.com/?url=https://big-tuba.glitch.me/

[2017-07-20 22:35] samuelli opened #20 "Feature idea: screenshots"
Several different potential use cases revolving around screenshots:
- Generating screenshots endpoint. Maybe it allows you to specify some viewport options, so you can get a good size view
- An option to have screenshots generated and injected into response as the open graph/image sharing tags.
[code]

[2017-07-24 21:33] samuelli opened #23 "Polyfill injection"
Test out network interception on Chrome 61 to see if that would work.

[2017-07-24 22:04] #18 closed

[2017-07-25 17:43] samuelli opened #25 "Rate limiting"
Add an optional, in-memory rate limiting function.

Rate limit would be x pages rendered per hour. Notably, cache hits are excluded. If the limit is reached, return an appropriate status code & message indicating rate limit has been hit & maybe how long till the rate limit is reset or the next request will be processed.

[2017-07-25 17:46] samuelli opened #26 "Cache warming"
Allow the cache to be warmed up. This could be in the form of providing site-maps which will then be queued and processed.

[2017-07-25 17:47] samuelli opened #27 "Cache invalidation"
Allow for the cache to be invalidated somehow.

[2017-07-25 17:50] samuelli opened #28 "Custom HTTP status code"
Allow the status code to be set within the response. Meta tag to start:
[code]

Perhaps a JS API:
[code]

[2017-07-25 17:54] samuelli opened #29 "Custom HTTP headers"
Under consideration: but allowing HTTP headers to be set via meta tags and/or JS API.

[2017-07-25 17:55] samuelli opened #30 "Explicit rendering flag"
Under consideration: Allow for a flag to notify when rendering is complete.

Need to find cases where the current loading function is insufficient. Do you have an example? Please comment below!

[2017-07-26 02:31] #28 closed

[2017-07-28 21:59] samuelli opened #36 "Config file"
Allow for a config file.

[code]
etc

[2017-07-28 22:00] samuelli opened #37 "Clearing cache"
Should not clear on every instance. Clearing also needs to go through every cache option.

[2017-08-01 19:10] samuelli opened #39 "Caching doesn't cache options separately"
Cache needs to also respect options:
eg. request route, it caches
request route with shady dom

Expected: get new render with shady dom
Actual: cached result w/o shady dom

[2017-08-01 22:10] samuelli opened #40 "Screenshots should probably be using mobile emulation to get rid of ugly scrollbars and weirdness"

[2017-08-02 00:06] #39 closed

[2017-08-02 22:06] #40 closed

[2017-08-05 00:11] samuelli opened #48 "Seems to hang sometimes"
screenshot/https://fonts.google.com/?width=1280&height=1299 still hung after 85s. No errors, so something async never resolved.

[2017-08-06 00:09] paales commented on #48
HI there! Just testing it out, seems to work pretty well. I am running into a problem as the above. On our new homepage we have a video that starts playing immediately. It seems that it is waiting for the video to fully play out before it can output something (since it is streaming in the video).

url: https://reachdigital-b332f.appspot.com/

[2017-08-06 09:34] paales opened #51 "Behave more like a true browser in terms of caching to improve performance."
The current implementation fully disables all cache used, which makes the server side rendering slower than it could be. ([ref](https://github.com/samuelli/bot-render/blob/master/src/renderer.js#L21-L29))

The browsers cache can be utilised for faster page renders and cache invalidation would work exactly the same way other browsers would need to handle caching:
- Normally you can't flush the brow

[2017-08-06 10:13] paales commented on #30
As discussed in https://github.com/samuelli/bot-render/issues/48, there are some issues with fully relying on network idle time (as far as I understand how it works).

To trigger of some other stuff in our application (setting meta tags, etc.) we're currently dispatching a custom event in the router we're using. It might be a good idea if we could incorporate a new event that notifies the bot rend

[2017-08-08 21:16] samuelli commented on #51
I think this is a good point and it'll result in faster page renders.

I'm not sure about the service worker one, your page should really work without a service worker. The really worrying part is service worker cause a lot of developmental pain, its hard to know which service worker you have or when it gets updated. If you push a bad service worker, it might get stuck there forever.

I think I'll

[2017-08-08 22:52] samuelli commented on #30
I like the event - I would make a slight change to `Event` instead of a `CustomEvent`.

[2017-08-08 22:55] #48 closed

[2017-08-09 17:53] #51 closed

[2017-08-09 18:23] #30 closed

[2017-08-09 18:36] samuelli opened #56 "Domain restriction"

[2017-08-09 23:28] paales commented on #51
Hi Samuelli,

I'm not sure if I completely follow the argument, since the same argument applies to the browser, or am I missing something?

[2017-08-09 23:34] samuelli commented on #51
It most definitely does. But this is a service you will be testing in development too, and its strictly intended to make the development story easier.

My experience with SW and from witnessing other people's experience is that when you do encounter an issue, it can be really painful and a huge time sink debugging that issue so I'd like to avoid yet another place where you have to worry about serv

[2017-08-10 09:51] paales commented on #51
Fair enough :)

[2017-08-10 09:52] paales commented on #30
@samuelli Really cool!

[2017-08-12 23:50] #36 closed

[2017-08-13 19:31] #56 closed

[2017-08-22 03:29] silenceisgolden opened #65 "App Engine pricing"
With the current settings in the app.yaml config, it looks like the cost for App Engine on this project would be a minimum of $452/month. If I am a user looking to solve SEO for my blog that is hosted for almost nothing on Firebase, I could imagine there being quite a shock when all of my GCP free credits are used up in two thirds of a month.

1. Are the App Engine resource definitions a strong re

[2017-08-23 10:37] samuelli commented on #65
Hi,

I've updated the default resource recommendations. For something like a blog, you are welcome to use the demo endpoint as well. See updated readme.

Let me know if that's insufficient.

Thanks.

[2017-08-23 10:37] #65 closed

[2017-08-23 13:06] intchloe opened #73 "Cross Site Scripting vulnerability due to `${request.params.url}` not being sanitized"
https://github.com/GoogleChrome/rendertron/blob/8d70628c96ae72eff6eebb451d26fc9ed6b58b0e/src/main.js#L103

and

https://github.com/GoogleChrome/rendertron/blob/8d70628c96ae72eff6eebb451d26fc9ed6b58b0e/src/main.js#L127

PoC: `https://render-tron.appspot.com/screenshot/<h1>xss%20here<%2Fh1>%3Fwidth%3D2335%26height%3D1297`

[2017-08-23 13:19] patrick91 opened #74 "Missing Emojis and Japanese Characters"
Hello!

I was trying the screenshot demo with my website, and I noticed that it doesn't show emojis,
I've made a quick bin here: http://jsbin.com/qakokocihe

As you can see from the [screenshot](https://render-tron.appspot.com/screenshot/http://jsbin.com/qakokocihe?width=2300&height=1222) it is not rendering the Emojis and the Japanese Characters.

This is probably because it is missing the relati

[2017-08-23 18:32] ebidel opened #75 "Migrate to Puppeteer"
https://github.com/GoogleChrome/puppeteer provides high level APIs for working with headless Chrome. Lot of rendertron's underlying code could be simplified (even removed) by adopting the puppeteer API.

[2017-08-23 21:19] joelgriffith commented on #75
I was kind of shocked to not see it in `deps`!

[2017-08-23 21:22] joelgriffith commented on #74
I'm working on a small SaaS product that will handle things like this. Instead of exposing certain endpoints for rendering, generating HTML, or any specific case you'll instead have access to a running chrome instance in the cloud and can talk to it with your favorite library (chromeless, puppeteer, selenium, whatever). Fixes other numerous issues as well other than Asian characters missing.

Is t

[2017-08-23 21:30] ebidel commented on #75
Think @samuelli started this long before Puppeteer was a thing :)

[2017-08-24 02:10] dickeylth commented on #74
As where as other Asia Characters such as Chinese.

[2017-08-24 05:14] rajikaimal opened #77 "Add address without protocol"
Adding an address without protocol gives
Eg : google.com
`Cannot render google.com - "First argument must be a string, Buffer, ArrayBuffer, Array, or array-like object."`

Maybe support for building the URL from the address provided ?

[2017-08-24 21:05] samuelli commented on #77
This is just in the UI right?

[2017-08-24 21:06] samuelli commented on #75
Yup, definitely started this earlier :)

I did chat to Andrey though and I'm not sure about I could implement everything using Puppeteer. Is there an escape hatch to the protocol if I use Puppeteer?

[2017-08-24 21:32] ebidel commented on #75
Coming: https://github.com/GoogleChrome/puppeteer/issues/31

[2017-08-24 21:37] samuelli commented on #75
Yup, definitely need that @ebidel!

[2017-08-25 05:01] rajikaimal commented on #77
Yeah, I tested only the UI, shall I work on this ?

[2017-08-28 22:21] samuelli commented on #77
A PR would be great!

[2017-08-28 22:39] hekod777 opened #81 "undefined error fetching localhost:3000/render/http://localhost:1337/?wc-inject-shadydom"
after watching the polymer summit video I decided to give rendertron a try

1. I run a local rendertron at localhost: 3000

2. I run a simple expressJS + polymer 2.0 app at localhost:1337

3. I enter localhost:1337 in the input field in the rendertron UI. it worked very well. it flatten shadow dom. and render the page correctly except the words in <p> tags which it just ignored.

4.  then I added

[2017-08-28 22:46] samuelli commented on #81
cc @aomarks

Thanks for the report. Does it take a while to render the page? It may be hitting a timeout, or there could be a different bug with the middleware.

Do you have anything that could help us reproduce this? eg. a polymer 2 app that you reproduce this with?

[2017-08-28 23:11] hekod777 commented on #81
this error pops up as soon as the bot request is made. it probably has nothing to do with the 10 sec rendering time.

the code below is in server.js

[code]

and the index.html and the file structure is the same as
`polymer init `
then select polymer 2 application

--------------

I also tested it by deploying the app on heroku and using `https://render-tron.appspot.com/render/` as end point.

whe

[2017-08-29 05:29] rajikaimal commented on #77
I'll work on this

[2017-08-29 18:39] samuelli commented on #81
@hekod777: it looks like `http://` is missing from `proxyUrl` in that code sample. Can you try it with the full URL?

[2017-08-29 20:28] hekod777 commented on #81
@samuelli

Thank you for the advise. now the error is gone. and after adding some console.logs in rendertron. I can see that if a bot sends a request to my app. it will hit the rendertron/render end point.

and rendertron actually successfully rendered the page with a status code of either 200 or 304.

but whats inside `<my-app></my-app>` is still empty.

it seems that there are some problems with

[2017-08-29 20:38] hekod777 commented on #81
interesting

after adding the following line to the rendertron-middleware everything worked!

`renderUrl += '=true';`

[2017-08-29 21:07] frankiefu commented on #81
I saw the same problem too. Here is the PR: https://github.com/GoogleChrome/rendertron/pull/82

[2017-08-29 21:09] samuelli commented on #81
Thanks @hekod777, @frankiefu, let me know if there's further issues.

[2017-08-29 21:11] samuelli opened #83 "Push middleware release to 0.1.2"

[2017-08-29 21:11] #81 closed

[2017-08-29 21:12] samuelli commented on #81
The fix will be released in middleware 0.1.2. #83

[2017-08-29 23:27] #83 closed

[2017-08-30 04:03] AndreasGalster opened #86 "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.product.cafe') does not match the recipient window's origin"
When trying out https://www.product.cafe on render-tron.appspot.com I get the following error:

[code]
You can see the error here: http://render-tron.appspot.com/render/https://www.product.cafe?wc-inject-shadydom=true

[2017-08-30 04:43] samuelli commented on #86
The provided render-tron sample endpoint is designed to allow you to test out how your page would look. In this case, we are rendering content that would otherwise a) be served via your domain and b) would only be served to bots that explicitly don't render.

In this example, as we're displaying the contents directly from the render-tron endpoint, you're seeing errors regarding cross origin securi

[2017-08-30 05:46] AndreasGalster commented on #86
Does this mean our own rendertron service should be on the same domain (subdomain)? Yes, there's definitely iframes there, at least Intercom and Facebook. I think it's coming from FB.

[2017-08-30 18:17] hekod777 opened #89 "using rendertron with php and prerender.io middleware."
Hello

My ultimate goal is to use rendertron with PHP.

and I saw this in readme

I have tried to use prerender middleware for expessJS.

`app.use(require('prerender-node').set('prerenderServiceUrl', 'http://localhost:3000/render'));`

but it just couldn't reach the rendertron end point.

I'd like to know if I can use prerender middleware for Zend Framework to get rendertron work with PHP. If so,

[2017-08-30 19:01] samuelli commented on #86
Have you seen the Youtube video of me explaining this?

The approach is to proxy some of the requests through to Rendertron, but it will still be served directly from your server. This is essential to ensuring bots and crawlers 'see your page'. So you don't have to use your own Rendertron, or serve it on your own domain, but you'd need to add the middleware to proxy the request via Rendertron from

[2017-08-30 22:23] hekod777 opened #90 "deploy rendertron on heroku"
I was trying to deploy my own rendertron docker container to heroku.

1. the docker image was successfully built

2. `heroku container:push web ` was successful as well

3. but when I visit the site.  It gives an error. this is what i saw in the heroku logs

[code]

I am a total newbie in terms of docker.

I'd like to know what went wrong.

thx!

[2017-08-31 00:04] hekod777 opened #91 "about googlebot"
Everyone is saying that googlebot has no problem clawing polymer 2.0 websites.

according to polymer-project.org, it seems like a true statement.

I deployed a very simple polymer 2.0 app on heroku using express to serve the index.html.

and try to use google console to fetch the page.

Sadly, the result didn't show anything inside the shadow dom.

and currently googlebot is not on the user agent

[2017-08-31 03:01] AndreasGalster commented on #86
Yes that makes sense, I was just not sure. I've been testing the middleware via your appspot deployment and didn't see the results I expected, so I was concerned.

I guess I just need to stop using the appspot version and wait for a day to get the cached results via the middleware :).

[2017-08-31 05:41] hekod777 opened #92 "rendertron failed to render web components inside an Angular 4 app"
I was trying to use rendertron to render an Angular 4 app which is using polymer 2.0 web components. but rendertron simply ignores the shadow doms. (shadydom is set to true of course.)

the rendering result still has the web component tags like <polymer-element></polymer-element>

but inside the tags, it's total empty.

this is the rendering result (I modified rendertron to console log the renderi

[2017-08-31 09:18] klausenbusk opened #93 "Push to Docker Hub"
Instant of everyone need to build the image, it could be useful if we could just pull the image from Docker Hub or some other Docker Registry (quay? Google Cloud Registry?)

[2017-08-31 16:47] hekod777 commented on #92
an update

1. if I use the regular render & serialized, rendertron can render angular 4 stuff just fine. and ignores the shadow dom.

2. if I use shadydom = true to render it, it will ignore everything in all the angular 4 components. it doesn't matter if the angular 4 components have polymer 2.0 web components or not

although I can use light dom + regular render & serialized to let rendertron re

[2017-08-31 17:27] samuelli commented on #93
Hi,

I have pushed it to https://hub.docker.com/r/samdotli/rendertron/ but I need to figure out how to properly push a repository instead. Also any idea on how I can get to be an unnamed one?

[2017-08-31 17:27] samuelli commented on #93
I'll look into Google Cloud Registry as well.

[2017-08-31 17:28] samuelli commented on #91
Hi,

Please ensure you are using `webcomponent-loader.js` in your application for googlebot.

[2017-08-31 18:05] samuelli commented on #74
Hi,

Thanks for the report. I'll look into fixing this. It is worth nothing though, that this only affects the screenshot endpoint. It does not affect SEO since the correct serializations should still be sent.

[2017-08-31 19:44] hekod777 commented on #91
Hi Sam

the app was built using polymer cli and has webcomponents-load.js in index.html.

this is the result of google bot fetching

[code]

there is nothing inside my-app tag.

if rendertron can have an option to add google bot to the list, then it will make it easier to test things out.

[2017-08-31 19:47] samuelli commented on #91
What version of webcomponentsjs are you using?

[2017-08-31 19:51] hekod777 commented on #91
the version of webcomponentsjs is 1.0.8

[2017-08-31 19:54] samuelli commented on #91
There was an issue in 1.0.8. Please use 1.0.7 or >= 1.0.9.

[2017-08-31 19:55] hekod777 commented on #91
OK thank you very much!

[2017-08-31 20:15] hekod777 commented on #91
hmmm

bower.json is now

`"webcomponentsjs": "webcomponents/webcomponentsjs#^1.0.9"`

but still getting the same result.

everything between `my-app` tag is ignore by google bot

[2017-09-01 16:55] samuelli commented on #91
Are you serving ES5?

[2017-09-01 18:29] hekod777 commented on #91
yes ES5.

now google bots can render the stuff!

Thank you very much!

PS: any luck on rendering Angular 4 apps using polymer 2.0 web components?

[2017-09-01 18:51] samuelli commented on #91
Great, I mentioned to your colleague that we really need more detail to look into that issue. Reproduction steps, minimized test cases would be really helpful.

[2017-09-01 18:51] #91 closed

[2017-09-01 19:15] samuelli commented on #5
Closing this as there is a basic cache layer implemented now.

[2017-09-01 19:15] #5 closed

[2017-09-01 19:15] samuelli commented on #20
Screenshots implem

[2017-09-01 19:15] #20 closed

[2017-09-01 19:16] samuelli commented on #25
Closing as not particularly useful & non-trivial to implement. There's a domain whitelist feature if you want to restrict domains.

[2017-09-01 19:16] #25 closed

[2017-09-01 19:18] samuelli commented on #86
Closing this issue. Feel free to reopen/open a new issue if you encounter more problems.

[2017-09-01 19:18] #86 closed

[2017-09-01 19:19] samuelli commented on #73
Thanks for the report! This has been fixed now.

[2017-09-01 19:19] #73 closed

[2017-09-01 21:30] hekod777 opened #94 "problem with rendering Angular 4 sample app Tour of Heroes"
Hi

When I tried to use rendertron and puppeteer to render the Angular 4 sample app Tours of Heroes, the angular 4 ngFor directives are ignored. All the content related to ngFor failed to render.

Due to the async request for heroes, Tour of Heroes actually has 2 stages of loading
1. load everything except for the ngFor stuff
2. load the ngFor stuff

It seems that rendertron thinks that after stag

[2017-09-01 21:38] #92 closed

[2017-09-01 21:40] samuelli commented on #94
Hi @hekod777,

Can you please provide reproduction steps and/or minimized test cases? It is difficult for maintainers of open source projects to be able to help you without these.

Please provide a link to a broken case and what the expected/actual results are.

Thanks,
Sam

[2017-09-04 03:39] hekod777 commented on #94
Hello @samuelli

here are the steps to reproduce

1. install angular CLI

`npm install -g @angular/cli`

2. clone this repo

`https://github.com/johnpapa/angular-tour-of-heroes
`
3.  cd into the repo

`npm install`

4. serve the app

`ng serve`

5. then go to

`http://localhost:4200/heroes`

this is what the site is supposed to show

6. then start rendertron and enter the following to the input fi

[2017-09-04 15:25] hekod777 commented on #94
these are the steps for angular 4 + polymer 2.0

1. clone this repo

`https://github.com/hekod777/angular4poly2`

2. cd into the folder

`npm install`

3. start the angular 4 app

`ng serve`

4. there are three parts in this html page

- an angular 4 component without using polymer 2.0 web component
- an angular 4 component using a polymer 2.0 web component
- an polymer 2.0 web components outside

[2017-09-05 08:11] jasonslyvia opened #95 "Benchmark result"
First of all, I really appreciate your excellent work!

We've been thinking building a similar screenshot service after Chrome Headless come out, glad we found rendertron before we start developing our own.

The thing is, we intend to use this screenshot/render service in production environment but couldn't find any benchmark result or pressure test result, like how many screenshot requests can it

[2017-09-05 22:52] mykiwi opened #96 "Error with the docker image"
I can't play with it :
[code]

[2017-09-05 23:27] justinribeiro commented on #96
I suspect that your kernel is possibly missing user namespace support. Try running with the SECCOMP profile or `-cap-add SYS_ADMIN` as per https://github.com/GoogleChrome/rendertron#running-the-container.

[2017-09-06 23:01] hekod777 commented on #94
@samuelli

hmmmm all worked~

1. Angular 4 async call problem

reason why the tour of heroes ngFor didn't was NOT because of async call. it's because it used `InMemoryWebApiModule` which is a fake async call for demos and tests. after replacing the fake call with a real async call, everything worked!

2. Angular 4 + Polymer 2.0

I just do not know why rendertron failed to render my sample app. ins

[2017-09-08 08:29] thanhtien522 commented on #96
Same problem with me.
I also try running with SECCOMP and `cap-add SYS_ADMIN` but it did not work.

I built image from master (a335926a).

My docker info:
[code]

Same error with both 2 commands:
```docker run -it --rm -p 8080:8080 --cap-add SYS_ADMIN --name rendertron-container rendertron```
```docker run -it -p 8080:8080 --security-opt seccomp=/opt/rendertron/chrome.json --name rendertron-contai

[2017-09-08 23:40] samuelli commented on #94
Great to hear that you got it all working!

[2017-09-08 23:40] #94 closed

[2017-09-08 23:41] samuelli commented on #96
What platform are you running on?

[2017-09-08 23:59] justinribeiro commented on #96
Looks like Cent 7 based on the log. I'll spin up Cent and give see what's up (as I can't duplicate this on Debian or Ubuntu at the moment).

[2017-09-09 04:40] ebidel commented on #75
Looks like someone created a clone that uses puppeteer: https://github.com/cheeaun/puppetron

[2017-09-09 21:56] justinribeiro commented on #96
CentOS 7 by default doesn't have user namespaces enabled. As such, you have to enable them to get the container to properly fire up by setting the `user_namespace.enable=1` via grubby:

![image](https://user-images.githubusercontent.com/643503/30244198-6592fe4e-956e-11e7-9eed-5ed55aa07632.png)

You can verify if the kernel you're using has the needed support by using the [kernel compatibility scri

[2017-09-11 05:05] thanhtien522 commented on #96
@justinribeiro  it worked! Thank you!

[2017-09-12 07:10] joelgriffith commented on #95
Benchmarking is pretty tough for something like screenshots (and there's a number of other factors in play depending on _where_ you host the image). In cases like AWS' IoT/lambda infrastructure there's roughly a ~2 second delay waiting for the function to run + loading the image.

That said, I've generally found that you can run around 10 parallel screenshot requests on a fairly common VM (1GB ram

[2017-09-12 22:35] #96 closed

[2017-09-12 23:08] samuelli opened #102 "499 error rates for screenshot endpoint"

[2017-09-13 04:20] justinribeiro commented on #90
Before you pushed the container to heroku, did it run without errors locally? Based on the error message, I'm wondering if did indeed build (it shouldn't be throwing the CHROME_PATH error).

I don't generally use heroku, but everything about the container should be fine based on heroku's requirements. I'll spin up a test account and see if I can get it to work.

[2017-09-14 05:34] pmaciejewski opened #103 "Run rendertron on AWS Elastic Beanstalk"
I'm struggling with running rendertron on AWS beanstalk as second container to my app. It is not possible to start the container in Dockerrun.aws.json version 2 due to security options not possible to set. Is it possible to bypass that?

Example container setup

[code]

[2017-09-14 15:43] hekod777 commented on #90
I was able to run the docker container successfully by using

`docker run -it -p 8080:8080 --cap-add SYS_ADMIN --name rendertron-container rendertron
`

the image should be fine

[2017-09-14 15:47] justinribeiro commented on #90
@hekod777 Cool. Let me see if I can scope out what Heroku is doing when it pushes to their container repository.

[2017-09-14 17:32] justinribeiro commented on #103
When you use `dockerSecurityOptions` on ECS, this requires telling the agent that that the `ECS_SELINUX_CAPABLE=true` or `ECS_APPARMOR_CAPABLE=true` environment variables are set before containers placed on that instance can use `--security-opt`. For EBS, my presumption is that this requires bootstrapping the instances the EB spins up with EC2 User Data to make that work. This is speculation on my

[2017-09-15 23:04] hekod777 commented on #37
Hi

My team wants to use Rendertron to perform SSR for several of our sites.

We'd like to see an endpoint that we can hit and clear the cache for all the pages of a site.

if we can clear a specific page on a specific site that will be even better.

Thanks!

[2017-09-15 23:10] samuelli commented on #37
Does the endpoint need to be secure at all?

[2017-09-18 08:32] pmaciejewski commented on #103
@justinribeiro yep, it were the flags. I was trying to set them on beanstalk level, not ECS. Now it seems ok. Thanks for help!

Without security options I couldn't find ANY information in the logs, it was really confusing.

[2017-09-18 08:32] #103 closed

[2017-09-18 16:08] hekod777 commented on #37
We'd like to have it secured.

Anyone outside my company should not be able to use the endpoint.

We are using AWS at the moment, I'd like to know your opinion on how to implement the security.

[2017-09-19 23:33] hekod777 opened #104 "how does the 10 secs budget time work?"
Hello

I was doing load testing with rendertron.

I made about 200 requests to the same page.

about 17 of the requests got the "10 second time budget limit reached." error. and others got 304.

all the 17 responses had a status code of 200. and a body with everything except all the content in the shadowdom (like <my-webcomponent> </my-webcomponent> while all the content inside are missing)

as a

[2017-09-19 23:39] hekod777 opened #105 "How does the caching actually work"
I was doing load testing on rendertron.

1. I make 100 request. the first one response is 200, and the rest is 304 which is as expected.

2. 5 mins later, I updated my app and deployed again. then I made another 10 request. this time the first response was 200, and the rest is 304.

based on the comment, cache is based on URL.

How come Rendertron actually knew the URL was updated and rendered it

[2017-09-20 01:52] justinribeiro opened #106 "Capture additional deployment documentation"
@samuelli I'm going to start capturing some of the offline and ticket conversations around deployment to various providers beyond the GAE environment.

Would you prefer that this be in the readme or should I go about capturing this in the wiki or some other spot?

[2017-09-20 18:27] hekod777 opened #107 "Page load event fired: false for the polymer 2.0 sample shopping app"
I was trying to use rendertron for the polymer sample shopping app.

when I test it locally it works fine and fast.

after I deploy, and try to visit it as a bot, I got this error

[code]

I'd like to know what makes it fail to detect the page load event.

PS: if you visit the page as a regular user everything is fine.

PPS: I removed all the pictures on purpose.

[2017-09-20 18:42] Nateyo opened #108 "fullpage screenshot support?"
It appears that if you load a page that has more content than the viewport, the rest of the content does not get rendered.  Are there any plans for full page screenshot support?  Am I missing something in the docs?

Thanks.

[2017-09-21 16:27] hekod777 commented on #107
found the root of the problem. Since it's affecting something else, I will just make a new post for that issue.

[2017-09-21 16:27] #107 closed

[2017-09-21 16:29] hekod777 commented on #104
it's caused by the same docker configuration problem. I will make a post just for it. and this 10 secs time budget is actually interesting...

[2017-09-21 16:29] #104 closed

[2017-09-21 16:52] hekod777 opened #109 "Docker configuration is causing BIG performance issue"
If Rendertron is started by npm start, the performance is awesome! It can render pretty much all the sites very fast.

If Rendertron is started as a docker container, it takes MUCH longer to do the rendering.

for example:

`https://whispering-bayou-43373.herokuapp.com/list/mens_outerwear`

docker container version of Rendertron takes 10+ secs

npm start version of Rendertron takes 4 secs

`https:

[2017-09-22 17:50] hekod777 commented on #90
Had the same error when I tried to run`npm start` in an AWS ec2 instance.

After install chrome as ec2-user, the error was gone

But I got another error after `npm start`

These two lines will appear first

then the error will came up in about 8 secs

any ideas what might be the problem?

## The purpose of npm start instead of running docker container

running docker container will result in a ver

[2017-09-22 20:28] attritionorg commented on #73
@samuelli Can you link to the fixing commit? Thanks!

[2017-09-26 12:12] Oupsla opened #110 "Rendertron & Websocket (Firebase)"
Hello !

I'm really excited about rendertron since his presentation at the polymer summit and I have decided to try it with a personnal project.

But I got a problem with Polymer 2 and Polymerfire to retrieve data from Firebase Database

### Description
Rendertron doesn't work with Polymerfire (https://github.com/firebase/polymerfire)

### Expected outcome
Rendertron render the page and allow webs

[2017-09-26 20:06] RIP21 opened #111 "I got ECONNREFUSED error running from `npm start` despite Chrome is running"
I got ECONNREFUSED error running from `npm start` despite Chrome is running.
[code]

I tried this one on my local Windows machine (it was fine), and then tried to run it on my DigitalOcean machine, but every time my express server redirects request to the Rendertron (or I request rendering from its UI) I get the error above.
Running Chrome version is:
[code]
The machine is running Ubuntu 16.04.
Ma

[2017-09-26 20:55] arthurevans commented on #109
@samuelli Are we using the docker instance for rendering wc.org?

[2017-09-26 20:56] hekod777 commented on #111
looks like the same problem as my last reply in this post

https://github.com/GoogleChrome/rendertron/issues/90

if so, it's the problem of chrome launcher.

you can try to either

1. set the pollInterval to 10000 in chrome-launcher.js

or

2. update the chrome-launcher dependency in Rendertron to 0.8.0 (Currently is 0.3.x)

Though I tried both. and still failed. But some people are saying this fi

[2017-09-26 21:23] icarv commented on #90
i'm getting a similar stack trace when trying to push to heroku, no mention of the CHROME_PATH in the logs for me tho and it deploys fine locally

<pre>
2017-09-26T20:05:48.573836+00:00 heroku[web.1]: State changed from crashed to starting
2017-09-26T20:06:06.282687+00:00 heroku[web.1]: Starting process with command `run start`
2017-09-26T20:06:09.241688+00:00 heroku[web.1]: Process exited with st

[2017-09-26 21:36] RIP21 commented on #111
@hekod777 chrome-launcher.js? Where I can find it. He is not in the repo.

[2017-09-26 22:02] hekod777 commented on #111
Good.

We are now on the same boat.

I posted this issue on chrome-launcher github page 4 days.

Hopefully they can give a fix soon.

PS: if the performance issue of dockerized Rendertron can be fixed, it will be the best. then I don't have to use this npm start work around ~

[2017-09-27 19:53] #105 closed

[2017-09-27 20:58] hekod777 opened #112 "Rendertron failed cache AngularJS/Angular 2/4 pages"
Hi

Rendertron can cache polymer 2.0 apps perfectly fine. But It failed to cached AngularJS or Angular 2/4 pages.

This happens to both npm run and running the --no-cache=false docker container.

## Reproduction Steps

1. modify `/rendertron/src/main.js` by adding the following line below line 107 (`const result = await renderer.serialize(request.params.url, request.query, config);`)

`console.log

[2017-09-27 21:43] hekod777 opened #113 "Suggestion: A thread for all the sites unable to render?"
By testing Rendertron, I came across a few sites rendertron is unable to render.

How about let's have a post for people to list the sites rendertron is not able to render?

I think it will make it easier for us to figure out what the pattern is and what needs to be fixed.

for example

[code]

[code]

[2017-09-28 03:38] zacksiri commented on #109
@hekod777 are you running docker on Mac? because that's running inside a VM (xhyve) and it might cause some slow downs.

[2017-09-28 18:20] hekod777 commented on #109
hmmm....

It's really really weird.

last week, I got the testing result as what I stated in the first post after many many tests.

but this week, everything changed as if this is no longer the world I have lived in the last week.

1. docker version of rendertron can render pretty much as fast as npm start version for AngularJS apps (GOOD!)

2. npm start version of rendertron is acting like the do

[2017-10-02 17:47] #77 closed

[2017-10-02 20:08] hekod777 commented on #112
hmmm....

getting some very interesting results from rendering  the AngularJS page below

`https://www.theguardian.com/us`

the response status code from Rendertron

200
200
200
304
304
304
200
200
304
200

and the speed of 304 response is not much faster than 200 response. sometimes it's even slower. To improve the performance of Rendertron, caching is gonna be a very good area to work on.

[2017-10-02 22:12] hekod777 opened #114 "Where does Rendertron store cache pages?"
Hello

Rendertron is using google-cloud/datastore for caching.

I'd like to know where these cached pages are storing.

Thank you!

[2017-10-02 22:55] samuelli commented on #114
Hey,

The current cache implementation can only be used with Google Cloud. On Google Cloud, the cache is then backed by the datastore. This was a rather specific design choice over something like redis, which would be faster, but only support a really small number of cached pages.

That being said, its built to be modular, so Rendertron could easily support other caching mechanisms if anyone wante

[2017-10-02 22:55] #114 closed

[2017-10-02 23:07] samuelli commented on #112
304 != cache we want here. The cache we want is the one that saves Rendertron work. 304s here are E-Tag based Express caching, which compares the client-stored browser cache with the full rendered result of Rendertron.

Rendertron's cache is not user-visible. We could potentially add a header to flag this so we can test it better. eg. something like `X-Rendertron-Cached`. The issue here is that yo

[2017-10-02 23:09] samuelli commented on #111
@RIP21: add your site to https://github.com/GoogleChrome/rendertron/issues/113. It can be used for other sites, but I think I'm seeing some issues with the running instance right now.

[2017-10-02 23:12] samuelli commented on #111
It sounds like chrome-launcher only supports some environments and maybe not the DigitalOcean one that you mentioned? The only real dependency is Chrome, so if you have Chrome, maybe we can configure chrome-launcher to point to exactly where it is.

`npm start` should be fine as long as it can find Chrome.

[2017-10-02 23:15] samuelli commented on #73
#88 fixed this.

[2017-10-03 03:23] RIP21 commented on #111
It can find Chrome and it even says in which port it was launched, but then failed to succeed.

[2017-10-03 03:25] RIP21 commented on #111
@samuelli about my site that was unable to be loaded via your instance, it was a no detection of the page load for some reason.  I fixed that using code that is in the Chrome using stupi 5 second timeout to be sure it loaded :)

[2017-10-03 16:07] hekod777 commented on #111
the problem of chrome launcher is the debugger

`isDebuggerReady(){}`

you can find more details about this issue here

`https://github.com/GoogleChrome/chrome-launcher/issues/30`

[2017-10-04 18:04] hekod777 commented on #111
Found something that might help us to get rid of chrome launcher

linke:  https://developers.google.com/web/updates/2017/06/headless-karma-mocha-chai

[2017-10-04 22:56] samuelli opened #116 "Allow service workers to be used"
- [x] Allow SW to be used
- [ ] Allow SW to be force updated

[2017-10-11 00:27] samuelli commented on #112
Closing this issue as the cache was not actually used. Cache for AWS needs to be implemented. A 304-related bug was also fixed in a recent PR.

[2017-10-11 00:27] #112 closed

[2017-10-17 20:02] hekod777 opened #122 "the rendering always takes 10 secs"
Just pulled down the newest version of Rendertron.

Tried both docker and non-docker version of Rendertron, both have this problem.

As long as the page needs to be rendered, it will take 10 secs and give the `10 second time budget limit reached.` warning

Reproduction steps:

1. Clone the rendertron repo

2. cd into rendertron folder

3. `npm install`

4. `npm start`

5. open a browser and go to

[2017-10-17 20:25] hekod777 commented on #109
The Docker Container is clearly the biggest block on the road to production.

This is the result after trying out docker and non-docker version of rendertron

1. non-docker version (npm start)

Rendertron can easily handle 8 concurrent users by using only 35% of the CPU

about 4.5% CPU usage per user.

2. docker version

Rendertron will crash if the concurrent users are 4 or more when rendering so

[2017-10-18 21:06] #122 closed

[2017-10-19 16:32] hekod777 commented on #111
Actually with the newest version of Rendertron, I am able to run Rendertron on an EC2 instance.

[2017-10-20 16:05] markbrocato opened #124 "How to use the render-complete event?"
Rendertron doesn't seem to wait for the render-complete event to be fired?  Can you provide more information on how to use this event?

[2017-10-25 16:04] chops318 commented on #90
@hekod777
I've bypassed using Docker, but I successfully deployed this on heroku using [heroku-buildpack-google-chrome](https://github.com/heroku/heroku-buildpack-google-chrome).

It will probably help even if using Docker, but I think you need to add that buildpack and re-deploy

[2017-10-27 21:46] samuelli commented on #111
@hekod777: is that without the docker container then?

[2017-10-27 21:55] samuelli commented on #110
Hey @Oupsla,

Rendertron doesn't automatically detect websocket network activity and hence I suspect the page looks 'ready' to Rendertron.

#126 may help here as it allows you to define explicitly when your page is ready. Do you think you could try that out?

Thanks,
Sam

[2017-10-27 22:27] #124 closed

[2017-10-30 17:26] Oupsla commented on #110
Seems to work perfectly 👍

[2017-10-30 17:26] #110 closed

[2017-10-31 16:20] hekod777 commented on #111
@samuelli

Yes, without docker container.

[2017-11-02 15:54] paales opened #129 "Stability of service"
Hi there,

I've deployed it to a Google Cloud instance, but we noticed that after several days the pages aren't rendered any more.. It seem the same issue is currently occuring on this environment: https://render-tron.appspot.com/

[2017-11-02 16:21] hekod777 commented on #129
Actually I noticed a possible memory leak issue in the docker version of rendertron 2 days. But I didn't have time to investigate it further.  Maybe it's the cause?

[2017-11-02 17:36] samuelli commented on #129
Hmm, I'm not seeing that issue on rendertron-appspot.com right now and I haven't touched anything.

[2017-11-02 17:39] samuelli commented on #129
@hekod777: not sure I understand around the `clearTimeout()`. It's already on https://github.com/GoogleChrome/rendertron/blob/master/src/renderer.js#L94 which is where the timeout will no longer trigger. In `loadEventFired()`, there are still are a number of checks before its returned.

[2017-11-02 17:42] samuelli commented on #129
@paales: I have an outdated version running since Aug 9, which is still running fine. The render-tron-appspot.com one is slightly outdated (I'll update it now), but its been running since Oct 5 and it appears to be rendering pages for me right now.

[2017-11-02 18:53] paales commented on #129
@samuelli It seems to be rendering something. It does appear to be dog-slow for me, is that because the service is being hammered or because of the demo setup?

Doesn't render:
https://render-tron.appspot.com/screenshot/https://reach-digital.appspot.com/
https://render-tron.appspot.com/screenshot/https://tweakers.net/ (did render just render, but can't get it to work anymore?)

[2017-11-02 19:01] samuelli commented on #129
So a couple of things:
 * I accidentally disabled the cache on render-tron. Fixing now.
 * I'm looking at reach-digital. I'm seeing lots of variation in times so I looked at the logs. It appears to be hitting the 10 second limit because of an outstanding network request. I'd recommend looking at #126, which is where we changed the explicit flag behavior. The explicit flag should help let rendertro

[2017-11-02 19:48] paales commented on #129
@samuelli Thanks, will take a look at #126, see if that solves the issue.

[2017-11-03 12:22] paales commented on #129
So I upgraded to the latest version version of this repo, but can't seem to get it to work:

Debug mode doesn't seem to be working (never got it working)? I have configured the config.json to enable the debug mode. I expect that when I run `npm start` to see all the console logs of a page it is trying to render. Am I doing somthing wrong?

![schermafbeelding 2017-11-03 om 13 13 17](https://user-im

[2017-11-03 17:26] samuelli opened #131 "Debug messages should log rendered page"

[2017-11-03 17:32] samuelli commented on #129
Debug allows console messages from the rendered page to be piped through. Someone else had also requested better debug messages. Filed #131 to track this.

It is fully manual and what you have looks correct. Can you possibly deploy that to some URL for me to test? Or send me any repro instructions?

[2017-11-03 17:33] samuelli commented on #129
I have one possible suspect. Can you retry without the debug flag?

[2017-11-03 17:59] samuelli commented on #129
@paales: nvm, looks like a bug on my side. I'll send out a fix hopefully soon.

[2017-11-03 18:07] samuelli commented on #129
#133 should hopefully fix this.

[2017-11-03 23:04] #131 closed

[2017-11-09 13:02] paales commented on #129
@samuelli We're a step further!

[2017-11-12 21:05] galamai opened #135 "ASP.net core middleware for Rendertron"
Hi, I create ASP.net core 2.0 middleware for Rendertron maybe someone will be useful. Repository reference: [https://github.com/galamai/AspNetCore.Rendertron](https://github.com/galamai/AspNetCore.Rendertron).

[2017-11-13 19:03] samuelli commented on #135
Nice, would you like me to link it from the Rendertron readme?

[2017-11-13 22:28] galamai commented on #135
Yes, of course, if you can. Thank you.

[2017-11-14 01:14] #135 closed

[2017-11-14 17:40] GautierT commented on #74
@samuelli : Hi, any news on this problem ? Is this a font issue ? Thanks

[2017-11-14 21:40] joelgriffith commented on #74
This is definitely a font issue, you'll have to pull in/install more packages in your dockerfile and potentially use a different base image. Googl's Noto font line-up has been my goto

[2017-11-14 22:32] GautierT commented on #74
I'm using heroku. Any idea or direction to help me with that? Thanks a lot.

[2017-11-14 22:40] joelgriffith commented on #74
In docker, this roughly looks like:

[code]

Here I'm using the emojione font to render emoji's properly. I'm not super familiar with Heroku, so you'll have to refer to their documentation on how to add assets to a box. Finally, if this is something that you'd rather not deal with entirely, I'm working on a service that is custom built for headless chrome [here](https://browserless.io). Fonts and

[2017-11-15 08:33] GautierT commented on #74
@joelgriffith  :  thanks ! But doesn't work. I think i have to first remove dejavu font because after installing emojione it's still dejavu font who are used. Your service is very interesting but too expensive for me now... :/

[2017-11-16 13:46] sshcherbakov opened #137 "Render to PDF"
Hello there,

Thank you for this project! And sorry for asking questions about Rendertron in a GitHub ticket, please let me know a better way to do that.

From several other alternative options out there like
https://github.com/zenato/puppeteer-renderer
https://github.com/cheeaun/puppetron
that promise rendering into PDF format, none supports Web Components v1 (Polymer 2.2.0) based application tha

[2017-11-16 18:52] samuelli commented on #137
Thanks for filing an issue. Initially, we had PNG screenshots which are lossless, but they ended up being too large, so it was switched to lower resolution JPEGs.

We can probably just add PDF rendering to Rendertron.

[2017-11-18 10:48] sshcherbakov commented on #137
This would be an incredibly useful feature for us.
I was going to investigate the way of merging the PDF rendering capability of the other projects with this one, but it is amazing how fast this ticket has been addressed, thank you!
(Can't wait for PR to pass the build)

[2017-11-19 09:51] ilyaglow opened #139 "Get HAR output"
Hey there!

What is your opinion on adding a way to retrieve an HAR formatted output using API?
Something similar what https://github.com/cyrus-and/chrome-har-capturer does.
I think it might be useful to have an ability to debug rendering issues that may happen.

Thank you for your work!

[2017-11-19 12:39] eladr2805 opened #140 "Cannot find module 'semver' when running Rendertron"
I installed
`npm install -g rendertron`
and then
`npm install -g google-chrome `

When try to run Rendertron im getting

`Error: Cannot find module 'semver'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\Users\elad\AppData\Roam

[2017-11-20 18:55] samuelli commented on #140
Hi,

This doesn't appear to be a bug with Rendertron. See https://github.com/npm/npm/issues/19036

Also that is not an official Google Chrome NPM package, please refer to the official Chrome website on how to install Chrome.

Thanks,
Sam

[2017-11-20 18:55] #140 closed

[2017-11-20 19:11] samuelli commented on #139
Hi,

Not too familiar with HAR. What is the workflow you're imagining that would make this feature useful? Since headless Chrome is used in Rendertron, it should be fairly easy to debug what is happening there.

Thanks,
Sam

[2017-11-20 20:09] ilyaglow commented on #139
HAR will let you inspect the whole webapp's request-response flow while rendering. As a result it gives you useful metrics - for example, how long it took to load a particular image/style/script.

If it's too low level and too specific for rendertron's initial goal of just a PWA rendering solution feel free to close this :)

[2017-11-21 01:20] samuelli commented on #139
Yep, I think it'll be fairly simple to spin this off into its own thing. Given that Rendertron is focused on SEO rendering and not performance, I think it'll be better off done separately.

Thanks for the suggestion though!

[2017-11-21 01:20] #139 closed

[2017-11-21 10:46] sshcherbakov commented on #137
Just tried out the PR and it looks good!

[2017-11-27 23:29] hekod777 commented on #109
While non-dockerized version can hold 9 concurrent users without any problem. Dockerized rendertron can only hold 4 concurrent users.

When there are only 4 concurrent users, things worked well. once it reached 5 concurrent users all these errors almost pop up instantly.

[code]

I have checked CPU / Memory / Network, I do not think any of those are causing the issue.

There are two types of error

[2017-11-30 01:03] samuelli commented on #137
Hi @sshcherbakov,

I've actually closed the PR instead of merging it. I've thought about this issue more and realised this is not necessary for Rendertron. Where Rendertron is required regarding web components is around serializations. Any headless Chrome solution uses Chrome and thus supports web components. Puppeteer will be able to generate PDFs for a page that uses web components, but will not

[2017-11-30 01:03] #137 closed

[2017-11-30 10:50] panzerdp commented on #140
Faced the same problem.
A simple workaround is to install `semver` globally:

[code]

[2017-12-01 06:17] paambaati commented on #109
@hekod777 Recently, a _slightly_ relevant bug was fixed in `64.0.3281.0` - see https://bugs.chromium.org/p/chromium/issues/detail?id=736452

Would you be willing to retest with the new version?

[2017-12-01 12:30] soyersoyer opened #143 "rendertron depends on semver, but semver is not in the package.json"
$ npm install -g rendertron
$ rendertron
module.js:538
    throw err;
    ^

Error: Cannot find module 'semver'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/usr/local/lib/node_modules/rendertron/bin/rendertron:7:14)
    at Modu

[2017-12-01 19:25] samuelli commented on #140
Sorry, it seems that I was mistaken. Fixed in #146

[2017-12-04 17:37] hekod777 commented on #109
@paambaati Thank you for the info.

After I adding `--shm-size 512m` to run the docker container (default is 64m, I just made it larger), the docker container works fine now (tested in the latest version of rendertron). And with Sam's fix, the 'not opened' error is greatly reduced. I have to say the stability of rendertron is better than never before.

[2017-12-11 20:36] #143 closed

[2017-12-15 12:12] andresrl commented on #111
I was having this issue running with npm start and now I solved it.

I've tried the modified version of isDebuggerReady() made in chrome-launcher.js by @hekod777 at https://github.com/GoogleChrome/chrome-launcher/issues/30 and I can see that the Port is being assigned.
Also i have: "chrome-launcher": "^0.8.0",

net.createConnection(this.port) is rejecting the connection. WHY?

Also, I've tried to

[2017-12-18 03:44] XavierEr opened #150 "How to get rendertron to render mobile pages using mobile user agent?"

[2018-01-02 16:19] paales opened #151 "Debug mode causes infinite page loading times"
I have the following config.json file:

[code]

After enabling the debug mode, all pages are loading indefinitely.. I'm having some issues on a certain page for some reason, but I wanted to console.log something, but I'm unable to do so.. It just keeps loading.

It doesn't matter what website I use, it always loads. Starting it with `yarn start`

[2018-01-04 08:15] XavierEr commented on #150
Refer to #152

[2018-01-04 20:04] samuelli commented on #150
Is your server dependent on the user agent string?

[2018-01-04 20:34] samuelli commented on #151
Thanks for reporting @paales.

[2018-01-04 20:52] #151 closed

[2018-01-04 21:56] paales commented on #151
Awesome

[2018-01-05 17:41] skunk73 opened #154 "google-cloud/datastore issue"
hello,
getting this when issuing "npm install":

npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'google-cloud/datastore' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'rendertron'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or http url, or git url.

npm ERR! Syste

[2018-01-05 23:59] samuelli commented on #154
Hi,

Can you provide more details? https://www.npmjs.com/package/@google-cloud/datastore is in the NPM registry.

I've tried cloning this repository and running npm install, and npm install rendertron.

Thanks,
Sam

[2018-01-06 12:41] skunk73 commented on #154
that's on a debian 8.10 installation on gcloud.
i've tied on my gentoo desktop and there "npm install" works fine...

on my desktop:
$ npm -v
5.3.0
$ node -v
v8.5.0

while on the vps:
$ npm -v
1.4.21
$ nodejs -v
v0.10.29

so i guess there's a minimum version requirement...

[2018-01-08 02:54] XavierEr commented on #150
Hi @samuelli . Yup. My server is checking whether is it 'Googlebot' or 'Googlebot Smartphone' user agent string.

[2018-01-09 17:09] hekod777 commented on #111
@samuelli

This is something I found regarding this `--no-sandbox` flag

[code]

As for rendertron, since it's only rendering pages and it's rendering the pages we want it to render, the security concern of `--no-sandbox` shouldn't be a problem right?

[2018-01-09 17:15] paales opened #157 "Option to force Google to be handled by rendertron as well"
We're currently going live with our project, but it seems impossible to solve all the issues in Google Chrome 41. The build systems / Polymer cli have some odd issues that cause render issues (GraphQL queries that are not resolving properly).

So we'd like to use Rendertron to also render pages for Google Bot.

[2018-01-09 18:16] hekod777 commented on #157
This is what I did.

[2018-01-09 21:42] hekod777 opened #158 "Regarding --shm-size flag"
We are trying to run rendertron on AWS ECS instances.

The problem is that AWS ECS agent is not supporting `--shm-size` flag. They have a proposal approved. But there is NO ETA of when it will be actually implemented.

After reading about the workarounds here:
https://github.com/aws/amazon-ecs-agent/issues/787

This solution caught my eyes:
https://bugs.chromium.org/p/chromium/issues/detail?id=736

[2018-01-10 00:02] #158 closed

[2018-01-10 16:44] paales opened #159 "Some pages can't load"
When trying to load our homepage we're getting the following error (online version doesn't load either)

[code]

This happens when I try to load it prpl server, but doesn't happen when I access an URL directly. Not sure how the request differs (no idea how I should debug something like that)

[2018-01-10 16:56] paales commented on #157
Hi @hekod777. Thanks for the suggestion. I've forked prpl server to add this option and now it seems to work. Maybe the prpl server and this rendertron should offer the option to actually SSR it for Google as well..

I'm getting so much odd errors everywhere that I don't know even where to begin to fix stuff. I've mainly got issues with some ES6 libraries that get handled by webpack, but that then

[2018-01-10 20:27] samuelli commented on #157
@paales: FYI, I did a write up on Polymer 2 & Googlebot. https://medium.com/dev-channel/polymer-2-and-googlebot-2ad50c5727dd

If you choose to use Rendertron with Googlebot, @hekod777 showed the correct approach here. This depends on what middleware you're using. If you're using `rendertron-middleware` which works `prpl-server`, the options are [documented here](https://github.com/GoogleChrome/ren

[2018-01-10 20:27] #157 closed

[2018-01-12 22:27] hekod777 opened #160 "timeout option in rendertron middleware doesn't do anything"
According to docs, the default timeout for rendertron is 11000

When I tried to make render requests using the codes below
[code]

The timeout was not changed. If a pages takes 10 secs, rendertron will send back whatever it has rendered and gives the following warning
[code]

For AngularJS apps, it's nothing life and death. Most of the time even if there is a warning, what is sent back is good eno

[2018-01-12 23:38] hekod777 commented on #109
use `--shm-size` flag to run the docker container fixed the problem.

If you are using AWS ECS where `--shm-size` is not supported, you can try to use `--default-shm-size` flag to start docker daemon as a workaround.

[2018-01-12 23:38] #109 closed

[2018-01-14 16:23] jonathanfishbein1 opened #161 "document.head.appendChild adding element to body"
This logic executes correctly in a browser but rendertron is attaching the additional element to the body as opposed to the head

[2018-01-16 19:05] samuelli commented on #161
Can you provide more detail on this issues and some reproduction steps please?

[2018-01-16 19:09] samuelli commented on #160
This is somewhat intentional. The timeout configured in the middleware is the timeout waiting for Rendertron to respond. In the case where we receive no response at all, your server should still respond to the incoming request.

It was not intended to use this flag as a configuration for Rendertron itself, which has a 10 second timeout. Since this consumes resources, it is probably best that Rende

[2018-01-16 19:10] samuelli commented on #159
Hey @paales,

Are you able to provide any reproduction steps? It's hard to help here without additional info.

Thanks.

[2018-01-16 22:52] hekod777 commented on #160
A new option in config.json works.

[2018-01-17 09:04] do7be commented on #90
I solved this using [heroku-buildpack-google-chrome](https://github.com/heroku/heroku-buildpack-google-chrome) and https://github.com/GoogleChrome/rendertron/issues/111#issuecomment-351991373

[2018-01-17 22:33] hekod777 commented on #160
And is there any side effect if I increase the timeout to like 13 secs or maybe 15 secs?

[2018-01-18 23:15] skullerj commented on #159
Hey @paales,

I had the same issue and solved it by disabling caching on **config.json**. I can't understand exactly why this happens but I guess there is some problem with the amount of data you send to the Google Cloud Datastore, which apparently uses **grpc**.

[2018-01-22 19:31] hekod777 commented on #160
also the docs of rendertron middleware should use an update.

[code]

The current description of `timeout` option in rendertron middleware is quite misleading.

[2018-01-24 10:36] XavierEr commented on #150
@samuelli Will there be any update on this?

[2018-01-24 21:55] hekod777 opened #162 "About the timeout and pages containing web components"
One of the problems with rendertron is that if it reaches the time limit, it will send back whatever it has rendered.

For AngularJS pages, whatever it sends back is normally good enough for bots to do the indexing.

But for web component pages, it will send back a blank page. Is there a better way to address this issue other than increasing the timeout?

[2018-01-25 02:58] mrtristan commented on #75
not sure on priority level for something like this but if you guys haven't noticed that prereq mentioned above is now merged in on the pupeteer side!

[2018-01-26 14:11] paales commented on #159
@samuelli Yes I'm able to reproduce the error: Try load this page with a googlebot user agent: https://reachdigital.nl/magento-2/magento-2-community-webshop

I'm getting the above error, rendertron actually fetches the information correctly it if you access it directly:
https://reach-digital-bot.appspot.com/render/https://reachdigital.nl/magento-2/magento-2-community-webshop?wc-inject-shadydom=tru

[2018-01-29 18:02] hekod777 opened #163 "rendertron middleware vs robot.txt"
robots.txt file gives instructions about their site to web robots; this is called The Robots Exclusion Protocol.

There are two important considerations when using /robots.txt:

- robots can ignore your /robots.txt. Especially malware robots that scan the web for security vulnerabilities, and email address harvesters used by spammers will pay no attention.
- the /robots.txt file is a publicly avai

[2018-01-30 19:15] hekod777 opened #164 "The versions of package.json and package-lock.json in rendertron middleware do not match"
The rendertron middleware has a version of 0.1.0 in package-lock.json.

But the version in package.json has a version of 0.1.2.

Not quite sure if it's gonna create any problems.

But an issue is an issue~

[2018-01-30 22:23] vladgolubev commented on #109
Also Chrome 64+ supports `--disable-dev-shm-usage` flag

[2018-02-01 20:15] #23 closed

[2018-02-01 20:15] #26 closed

[2018-02-01 20:15] #27 closed

[2018-02-01 20:15] #29 closed

[2018-02-01 20:32] samuelli commented on #163
There is no way to prevent nefarious actors from inspecting the contents of your site. In cases where usage is a question, you can block IP ranges etc. Most search indexers respect /robots.txt. It's up to you how Rendertron fits into your stack - you choose the user agents and urls to use Rendertron with.

I'm not too sure about all the ways to prevent indexing, but definitely rendertron is target

[2018-02-01 20:32] #163 closed

[2018-02-01 20:35] samuelli commented on #162
Generally the ideas of progressive enhancement apply here. I would say that ideally the fixes are not on the Rendertron side. eg if it takes too long for Rendertron to render and serialize this is likely indicative of performance problems that your users would be experiencing when they hit your web application.

[2018-02-01 20:35] #162 closed

[2018-02-01 20:35] samuelli commented on #161
Closing as there has no been no additional information to work off here.

[2018-02-01 20:35] #161 closed

[2018-02-01 20:45] #164 closed

[2018-02-01 23:30] #111 closed

[2018-02-01 23:48] samuelli commented on #150
Hi @XavierEr,

I think it would reasonable for Rendertron to be able to switch between a desktop/mobile rendering & a different user agent. A user agent string is meant to represent what the agent is capable of rendering. It's basically similar to the `Accept` header and is why user agent strings have become increasingly complex.

Rendertron is not designed to serve any traffic directly. Instead y

[2018-02-02 00:19] samuelli commented on #159
Hi @paales,

I'm unable to reproduce.

Running `curl https://reachdigital.nl/magento-2/magento-2-community-webshop -A 'googlebot'` works for me. Size looks correct to me too. ~300KB raw, ~34KB GZIP.

Closing as it seems it works? Feel free to reopen/comment that its still broken.

[2018-02-02 00:19] #159 closed

[2018-02-02 12:50] paales commented on #159
Have you tried running it through the middleware?

Loading the page via the above rendertron URL, everything works as expected, but if I run it through the middleware I'm getting the error.

[2018-02-02 18:49] samuelli commented on #159
Does the curl request I pasted above not execute through the middleware?

[2018-02-04 13:38] pstreise opened #168 "Doesn't render my page"
Hello,

I try to integrate rendertron into our environment. But it returns only a blank page:
https://render-tron.appspot.com/render/https://trusted.de/?wc-inject-shadydom=true

Is the services maybe timing out?

Best Paul!

[2018-02-05 18:10] hekod777 commented on #168
Tested it on my own instance of rendertron. Got a blank page as well.

It doesn't seem like a timeout.

I got the rendering result in less than 10 seconds. No cache was involved.

[2018-02-08 00:30] pablo384 opened #169 "Doesn't work with ssl"
this  is the log of rendertron app running and try to render.
`Chrome launched with debugging on port 41152
Listening on port 8080
Cannot render requested URL
{ message: 'net::ERR_NAME_NOT_RESOLVED' }
Cannot render requested URL
{ message: 'net::ERR_NAME_NOT_RESOLVED' }
Cannot render requested URL
{ message: 'net::ERR_NAME_NOT_RESOLVED' }
Cannot render requested URL
{ message: 'net::ERR_NAME_NOT_R

[2018-02-09 13:41] paales commented on #159
@samuelli You're right, i've had to disable all caching on the online environment, which makes sure it works. Was just trying to get it to work on render-tron.appspot.com, but that whole service seems to be offline :(

https://render-tron.appspot.com/render/https://reachdigital.nl/magento-2/magento-2-community-webshop?wc-inject-shadydom=true http://cloud.h-o.nl/pQNY

[2018-02-13 10:19] XavierEr commented on #150
Hi @samuelli,

I have make some changes to fit in the right approach. Right now it will check for mobile flag from options and if it is set, the predefined mobile user agent will be set.

[2018-02-13 18:01] pablo384 commented on #169
I solved, my nginx config was wrong. I put the domain name and fix it, but I knew thanks a log in prerender.io.
[code]
Please close this issue.

[2018-02-15 00:27] pikeas opened #170 "Hangs / unhandled promise?"
Running with the `--no-sandbox` flag from master, in Node 8.9.4 (current LTS):

[code]

[2018-02-15 14:14] mariusJar commented on #169
I'm having similar issue, could you provide more details? Your nginx config maybe?

[2018-02-15 21:41] #169 closed

[2018-02-18 18:45] jonathanfishbein1 opened #171 "What are the hosting container "hardware" requirements?"
What are the optimal number of cores and memory requirements for the container hosting rendertron?

[2018-02-24 07:41] AndreasGalster opened #172 "Offer rendertron as a service on Google cloud"
I know this is unlikely to happen but would be nice to have :). Makes the setup easier if you're not used to using docker.

[2018-03-05 12:38] sunnykreative opened #173 "Rendertron with angular4 integration?"
How can we integrate rendertron with existing project.
I want to put the build files on a shared hosting.

[2018-03-06 22:35] hekod777 commented on #173
My team is trying to configure CDN to identify bots and redirect requests to rendertron endpoints.

So that we can skip using rendertron middleware. And use rendertron services with any kinds of apps.

[2018-03-08 17:48] hekod777 commented on #173
I am sorry that I am not able to provide a tutorial.

We are still working on this CDN configuration.

[2018-03-12 12:16] Romanchuk commented on #171
Same question

[2018-03-16 14:14] karunya2530 commented on #94
@hekod777 can you share the complete repo with Rendertron usage. I am also looking for server side rendering of angular 4 app.

[2018-03-18 03:33] nhducseuit commented on #3
I'm on MacOS sierra and get `{ message: 'net::ERR_CONNECTION_REFUSED' }` whenever I try to render or screenshot the tour of heroes project launching with `ng serve`
I checked and tried the suggestions at https://github.com/GoogleChrome/rendertron#connection-error-econnrefused but none of them works.
Could you please suggest where should I add the --disable-sandbox flag to?

[2018-03-19 15:25] LuisSousaRego commented on #168
I have a similar issue in an Angular project.
Only content on the index.html file is being rendered.

[2018-03-20 00:53] hekod777 commented on #94
@karunya2530 I am sorry that I am not allowed to share the repo. but it's pretty much the same as the official repo except I added redis for caching and added the setup for downgrading to Node 6 compatible.

other than the repo the AWS configuration was kind of tricky as well.

I am willing share any of my knowledge. Just let me know what kind of questions you have.

[2018-03-20 03:58] karunya2530 commented on #94
Okay. Thanks for the reply. What version on node are you using ? Secondly i have setup an instance of docker on my server with running rendertron on port 8080. Now in my angular app i have installed express middleware and define the index.js. So could you help me out how to define index.js and where to execute index.js on server? Also if i am accessing my site then how rendertron will work for ren

[2018-03-20 17:59] d9rajesh opened #175 "How to optimise rendering speed?"
The speed of rendering is little slow. A “Hello World” example takes around 500ms to render when there is no load. Is there a way to optimise the rendering speed?

[2018-03-21 03:59] hekod777 commented on #94
hmmmm....

1. Due to the company policy, I am running rendertron in a docker container using node 6 base image.

2. My understanding is that you have an express server for your angular app. Then all you need is to use the rendertron middleware in your server/index.js. For example:
[code]
3. rendertron middleware will figure out if a request is from a bot based on the user agent. If it's a bot on t

[2018-03-21 04:03] hekod777 commented on #173
@sunnykreative I just made a post in another thread regarding using rendertron for angular 4/5 apps. Although it's no where near a tutorial, it might be helpful to you.

https://github.com/GoogleChrome/rendertron/issues/94

[2018-03-21 05:03] sunnykreative commented on #94
Can anyone share a working example of rendertron with existing angular project?
What changes needs to be done?

If anyone can share a video it would be great. I have searched youtube and got various videos but those all asks for firebase. I want it without firebase.

[2018-03-21 05:05] sunnykreative commented on #173
Thank you.

On Wed, Mar 21, 2018 at 9:33 AM, hekod777 <notifications@github.com> wrote:

--
*Thanks and Regards,*
Sunny Bhagat
Follow us on Facebook: <https://www.facebook.com/kreativemachinez/>

[2018-03-21 06:22] hekod777 commented on #94
I just watched the youtube video to deploy rendertron to firebase. This is what I felt.

1. It didn't use rendertron middleware. Instead it kind of wrote its own rendertron middleware logic. I am not quite sure if it's needed since he was using express server anyway. Maybe that's because the way he handles caching.

2. Back then we still haven't discovered the share memory size issue for rendertro

[2018-03-22 23:34] oleersoy opened #176 "Rendertron with UNCSS Integration"
Hi - Just watched the polymer presentation on rendertron and the genius of it is off the hook!  I just posted this question on SO WRT uncss integration and just wanted to place it on rendertron's radar:
https://stackoverflow.com/questions/49440099/using-rendertron-in-conjunction-with-uncss

[2018-03-23 03:45] nhducseuit opened #177 "Cannot render URL - Docker logs { message: 'net::ERR_CONNECTION_REFUSED' }"
I'm on MacOS sierra and follows the guide at https://angularfirebase.com/lessons/seo-angular-part-1-rendertron-meta-tags/ for getting start with rendertron.
However I got error `cannot render URL` when I try at my local. Docker logs `{ message: 'net::ERR_CONNECTION_REFUSED' }` whenever I try to render or screenshot the tour of heroes project launching with `ng serve`
I checked and tried the sugges

[2018-03-23 21:23] beyondcreed opened #178 "rendertron on freebsd"
Hello,

We are trying to run rendertron on FreeBSD 11.1-RELEASE-p8. However when running rendertron or npm run start, the following error appears.

`TypeError: chromeFinder[utils_1.getPlatform(...)] is not a function
    at Launcher.<anonymous> (/root/rendertron/node_modules/chrome-launcher/dist/chrome-launcher.js:139:80)
    at Generator.next (<anonymous>)
    at /root/rendertron/node_modules/chr

[2018-03-25 13:53] bm-stschneider opened #179 "Q: Concerning Blackhat SEO"
Does rendertron fall into the practice of so-called blackhat SEO or not? Since if you check for crawlers and server-side render components with puppeteer/headless chrome is this sanctioned practice according to google search engine indexing rules?

[2018-03-26 06:07] sunnykreative commented on #94
Hi,

Just wanted to know what changes I should do on my angular project so it
uses rendertron.

On Wed, Mar 21, 2018 at 11:52 AM, hekod777 <notifications@github.com> wrote:

--
*Thanks and Regards,*
Sunny Bhagat
Follow us on Facebook: <https://www.facebook.com/kreativemachinez/>

[2018-03-26 14:42] hekod777 commented on #94
If you are using an express server for your angular app, you should add the rendertron middleware in your server/main.ts file. It will Identify bot requests and making requests to rendertron endpoints.

If you are using some other ways to identify bots and redirecting requests, then you don't need to make any changes to your angular 4 app.

[2018-03-30 19:39] hekod777 commented on #177
I am using macOS as well. The solutions in the readme worked for me.

In some OSS you may consider adding --no-sandbox flag to start chrome to avoid connection refused error.

[code]

[2018-03-30 19:43] hekod777 commented on #175
You may want to implement cache. And have your own crawler to crawler your pages and create cached pages.

When the real bots come, you will be serving the cached pages which will be super fast.

[2018-04-01 16:45] nhducseuit commented on #177
Thanks for the response @hekod777
I tried adding `--no-sandbox` option to chrome-launcher in main.js and rebuilt the image, but the error is still there.
I also tried to use --cap-add SYS_ADMIN without success.
Do you know how should I debug this issue?

[2018-04-02 12:16] philly-vanilly opened #180 "Docker build fails: OCI runtime create failed ... /bin/sh: no such file or directory"
I git-cloned rendertron as subproject in my main app's project; ran `npm install` and `docker build -t rendertron . --no-cache` and got the following error:

Error-log:
[code]

System:
- MacOS 10.13.3
- Node v8.11.1
- Docker-Version 18.03.0-ce-mac60 (23751) with Experimental Features en- and disabled

Please help!

[2018-04-02 15:20] hekod777 commented on #177
@nhducseuit If you have tried
[code]
as well.

Then there is not much else come into my mind.

Even on AWS, I fixed this connection refused error with a combination of `-security-opt` + `--no-sandbox`. My guess is that maybe it's something other than rendertron itself.

and try to render some pages other than the tour of heroes app. When I tested it a while back, rendertron failed to render it due

[2018-04-06 15:35] AlnoorKhan commented on #94
Can we use rentertron middleware for angular 1.4.
I am facing issue in rendering my page.

[2018-04-09 16:47] samuelli commented on #179
Hi @bm-stschneider,

Rendertron is designed to fill the gaps for agents that don't render webpages. [Googlebot does](https://developers.google.com/search/docs/guides/rendering) render your page, so that is the preferred solution when serving to googlebot.

You may use Rendertron with Googlebot if you wish, but we do not recommend it and it is excluded from our user agent check. If you're using Pol

[2018-04-09 16:47] #179 closed

[2018-04-09 16:49] samuelli commented on #178
Is Chrome installed?

[2018-04-10 07:00] bm-stschneider commented on #179
Not to the full extend. Would I run into problems when I use rendertron to hydrate the webpage for Googlebot when I use Vue/React/Polymer/Angular/etc. ?

[2018-04-10 18:42] samuelli commented on #179
I'm unable to answer that question. Please refer to https://developers.google.com/search/docs/guides/rendering

[2018-04-10 18:45] samuelli commented on #179
For more context, it's our policy to provide honest search results and we cannot provide further information about how this works. All the information we can provide is publicly documented. Please also make use of the official tools such as [Fetch as Google](https://support.google.com/webmasters/answer/6066468?hl=en)

[2018-04-15 10:12] alikarimii opened #181 "failed start rendertron locally in ubuntu server"
when `npm run start` , get this error

[code]

[2018-04-17 02:14] Shyam-Chen opened #182 "Rename rendertron-middleware to express-rendertron"
* express-rendertron
* koa-rendertron
* fastify-rendertron
* xxx-rendertron

[2018-04-28 10:59] #182 closed

[2018-04-29 20:28] oleersoy commented on #176
Would also be nice to have Angular CLI integration.  So for example `ng build --rendertron` would build out the pages to a rendertron directory or `/dist/rendertron`.

[2018-05-21 01:56] aakashbanerjee commented on #177
Hello Folks I am facing the same dreaded ERR_CONNECTION_REFUSED issue. I built a AWS EC2 instance from scratch and installed everything and deployed Rendertron on that instance. Here is how I did that - https://medium.com/@aakashbanerjee/deploying-rendertron-on-aws-ec2-8c00a4bb6b1e
Now using rendertron express js middleware I am routing all bot requests to the ec2 server where rendertron lives. I

[2018-05-23 00:11] hekod777 opened #183 "super slow rendering speed, need to lower chrome version"
We just noticed that rendertron's rendering speed is super slow.

Most of the time we will get this message: `10 second time budget limit reached. Attempted rendering: url. Page load event fired: true. Outstanding network requests:1`

and we didn't have this issue back in Jan.

After some debugging, I found that the newest stable version of chrome (66) is causing the issue.

If I downgraded my chr

[2018-05-23 04:16] pramenku commented on #180
Can some help on it.

[2018-05-26 17:53] aakashbanerjee commented on #177
Update: AWS EC2 Ubuntu 16.04 LTS instance deployed with docker container. Same issue ERR CONNECTION REFUSED.
Chrome launched with debugging on port 45630
Listening on port 8080
Cannot render requested URL
{ message: 'net::ERR_CONNECTION_REFUSED' }

I tried running the container with recommended jessie frazelle --security-opt flag
sudo docker run -it -p 8080:8080 --security-opt seccomp=$HOME/chrome

[2018-06-01 13:51] heyitsmepatg commented on #180
Getting the same error

[2018-06-12 00:06] phihochzwei commented on #183
https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb

[2018-06-12 08:04] phihochzwei opened #184 "Pass resolution to 'render'"
Would it be a big deal to make it possible, to pass the resolution the 'render'-endpoint as well? The reason I am asking is, we got sites which are rendered as mobiles since our rendertron is running on a virtual server, which obviously has no real width/height. And the results are quite ugly :(

[2018-06-18 05:33] ford442 opened #185 "cache jpgs in folder?"
Hi,
I am trying to get a cached screenshots to automatically save whenever rendertron runs. Can anyone tell me an easy way please? I have tried SVG -> CANVAS -> PNG and also Google Datastore, but both ways seem overly complicated to me.
Is there an obvious point when I could intercept the Base64 string variable into a textarea or .txt perhaps?
I am using shared hosting as well as Google Cloud Comp

[2018-06-22 19:31] aslushnikov opened #186 "Client-side navigation doesn't work"
### Repro steps

1. Take any page of https://pptr.dev, e.g. outline for Puppeteer version 1.5.0: https://pptr.dev/#%3Fproduct=Puppeteer&version=v1.5.0&show=outline
2. Compare [rendertron screenshot](https://render-tron.appspot.com/screenshot/https://pptr.dev/#%3Fproduct=Puppeteer&version=v1.5.0&show=outline?width=2955&height=1549) with [actual result](https://pptr.dev/#%3Fproduct=Puppeteer&version

[2018-06-22 19:46] aslushnikov opened #187 "Old Chromium Version"
Rendertron runs outdated [chromium M64](https://render-tron.appspot.com/screenshot/https://www.whatismybrowser.com/detect/what-is-my-user-agent?width=2955&height=1549).

Can Chromium be updated so that rendertron runs a relevant Chromium version?

[2018-06-26 16:30] marinak6 commented on #180
I'm getting the same error after I imported an image and ran the following command:` docker-compose build`

Error log: `db uses an image, skipping
Building rails
Step 1/7 : FROM caljess599/welld:ubuntu_precomp
 ---> 6a279dbe7b31
Step 2/7 : WORKDIR /app
Removing intermediate container 7059b7212795
 ---> 36b2ed98f79b
Step 3/7 : ADD Gemfile /app/
 ---> 67efb1fa5825
Step 4/7 : ADD Gemfile.lock /app/

[2018-06-28 10:06] marto55555 opened #188 "document.head.appendChild adds element to body instead"
If you have the following code to dynamically insert an element in \<head\>, Rendertron would move it to \<body\> when rendering the page for some reason:
[code]
**Intended behavior:** the newly created element should be in \<head\>, as it is in a normal user's browser.

[2018-06-30 15:36] mhf-ir opened #189 "header referer not change document.referrer"
Header will be apply but `document.referrer` is null.

[2018-06-30 15:37] #189 closed

[2018-07-09 16:17] Enngage commented on #157
Can someone explain why googlebot is excluded from the default set of user agents? I'm really asking out of curiosity because when I use `Fetch` service to see how google crawlers sees my site (Angular 6), it sees just the barebone HTML and does not seem to resolve it.

[2018-07-09 18:01] samuelli commented on #157
@Enngage: there's a link to an article in my previous comment. Rendertron is designed to be used with agents that do not render web pages. In the case of googlebot, it does render web pages but with limited capabilities. It's recommended you look at getting your site to render on Googlebot without the need of Rendertron.

[2018-07-09 18:09] Enngage commented on #157
Thank you for such a quick response @samuelli .  I thought that the huge advantage of rendetron is that you can get your apps (i.e. the Angular 6, React, vue..) more SEO friendly (instead of relying on the capabilities of web crawlers and the way they handle javascript).

For example, FireBase seems to promote this as an [awesome](https://angularfirebase.com/lessons/seo-angular-part-1-rendertron-m

[2018-07-11 22:45] JuanSeBestia opened #191 "Use cache without google-cloud datastore"
I would love to be able to use the cache service without the project being connected to the DataStore, perhaps using the temporary storage of the docker

[2018-07-23 19:58] neco122 commented on #90
**I could not publish the project on Heroku.

Here my build log:**

-----> Node.js app detected
-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true
-----> Installing binaries
       engines.node (package.json):  >=7
       engines.npm (package.json):   unspecified (use default)

       Resolving n

[2018-07-25 23:24] samuelli commented on #150
Fixed in latest version.

[2018-07-25 23:24] #150 closed

[2018-07-25 23:28] #187 closed, assigned to nobody

[2018-07-25 23:30] samuelli commented on #186
What's the best way to approach this if I'm using `goto()` in puppeteer?

[2018-07-25 23:31] samuelli commented on #183
Moved to latest version of Chrome instead.

[2018-07-25 23:31] #183 closed

[2018-07-25 23:32] samuelli commented on #75
Done.

[2018-07-25 23:32] #75 closed

[2018-07-26 00:16] aslushnikov commented on #186
@samuelli it should just work!

[2018-07-26 17:47] samuelli commented on #186
Ah thanks. This wasn't actually broken but the front page was broken. The # part of the URL was not being sent to the server as that needs to be properly URL encoded.

[2018-07-26 20:49] #186 closed

[2018-07-26 21:01] samuelli commented on #172
It's now supported as a service that can be deployed to Google Cloud's Standard environment!

[2018-07-26 21:01] #172 closed

[2018-07-26 21:01] #93 closed

[2018-07-26 21:01] #102 closed

[2018-07-30 18:33] baranberkay96 opened #206 "https://render-tron.appspot.com/ got internal server error"
i tried to take screenshot but got internal server error and this is the link that i want to take screenshot
[https://www.thesaurus.com/browse/immediately]

[2018-08-03 17:31] drupalshift commented on #206
I get this from Avast
Site Blocked - URL:Phishing

[2018-08-05 22:54] baranberkay96 commented on #206
i didn't understand which platform you tried in,  could you explain more?

[2018-08-06 07:10] villanus opened #207 "Disk Cache?"
Is it posible to cache pre-rendered urls to disk?  Or aws s3,  google cloud storage or azure files?   I want to pre-render pages on the fly (via url calls) but then store them in cloud.   This would allow using nginx as a reverse proxy to serve generated pages from cloud storage when they exist otherwise using rendertron to build the static page and store it for future hits.

[2018-08-06 11:31] HitkoDev opened #208 "build folder is missing from NPM package"
When trying to run renderton as stated in https://github.com/GoogleChrome/rendertron#running-locally, it fails with `Error: Cannot find module '../build/rendertron.js'`. Running `npm run build` inside the `node_modules/rendertron` appears to fix this problem.

[2018-08-07 03:48] ford442 commented on #207
That is what I am trying to do as well. It says in the comments that this function was not written into the script, but is left for us users to program.
If you set up the cache=true option from the default instructions then it will start to cache into the Google Datastore, but I haven't found how to use that data easily yet.

[2018-08-11 00:15] ravishivt commented on #93
With 2.0.0, it feels like the project is making backward progress to support users who want to use docker.  Why not publish a docker image that is built by installing puppeteer and rendertron?  It would be simpler for users than cloning the repo and building rendertron natively.

I've also opened a request for puppeteer to publishes their images, https://github.com/GoogleChrome/puppeteer/issues/30

[2018-08-27 11:51] paales opened #211 "Change renderbudget timeouts"
In some cases our backend doesn't respond as promptly as it should and doesn't meet the 10 seconds timeout. Is it possible to up this limit to 30 seconds or something, or make it configurable.

Reasoning goes: it is better to have a slow page than a broken page.

[2018-08-27 11:52] paales opened #212 "Change README to datastoreCache instead of cache?"

[2018-08-27 12:36] paales opened #213 "page.setViewport() to 1280x768"
Currently used viewport is 1000x1000 which is a rather odd resolution. It also forces the website into mobile mode (1024 is the breakpoint) in our case which has resulted in some odd behavior (because I expected desktop).

Also it doesn't set the viewport to a mobile resolution when it is rendered for mobile.

[2018-08-27 12:47] paales opened #214 "Flush cache for a single URL"
Sometimes we update the content of a URL and would like all crawlers to have the updated content, a way to flush the cache of those URL's would be nice.

[2018-08-27 13:28] mpovervliet opened #215 "Googlebot is missing markup"
We've got rendertron setup, but when we fetch our pages as Google in Search console, markup is missing.

Page: https://www.horsecheck.nl/paardrijcap

![search console fetchen als google https www horsecheck nl](https://user-images.githubusercontent.com/10119389/44662153-2a8d4c00-aa0d-11e8-8b99-8e0462d9397b.png)

The missing content is actually in the code, but it's on 1 single line:

![search cons

[2018-08-27 13:36] paales commented on #214
We've found a workaround to do it via the Google Cloud Console. Would be nice to do it via the interface :)

[2018-08-28 17:39] screendriver opened #217 "Injecting a JavaScript object or function?"
Hi,

does `rendertron` inject a JavaScript object or a function or something like this when it renders the page?

The reason why I'm asking:

- with that it would be possible to inform the engine when rendering and data fetching is really done. I could call that callback function when I'm certain that my app is ready for caching
- I'm using a CSS-in-JS solution (namely [Glamorous](https://github.c

[2018-09-26 18:09] elgreatly opened #224 "rendertron don't wait for http request when share link on the facebook or twitter"
i'm using rendertron middlelayer node module with angular 6 to pre-render the data to get the actual meta-data
the problem is when i share the link on the facebook or twitter it don't wait to the http call to get the actual data to add it in meta-data even if the http call just take 100 ms

but when i run the url directly to the rendertron it get the data correctly without the problem and get the

[2018-09-27 15:44] elgreatly commented on #224
@hekod777 @samuelli do you have any idea about this issue

[2018-10-03 06:17] freehuoshan opened #225 "Can prevent the image loading ?, when a lot of images, the loading speed is very slow"
My site has a lot of images, which makes the crawler response very slow.
can we prevent the image from being added by adding parameters to the API, so get faster response.

[2018-10-05 03:47] FrancisAguilar21 commented on #224
I'm also experiencing this issue when making calls to a database -- firestore for example. Facebook and Twitter bots instead resort to my fall back meta tags. :(

Any updates on this?

[2018-10-05 05:18] FrancisAguilar21 opened #226 "Using the window.renderComplete in Angular 6"
Hi,

Sorry for the silly question but I have been researching for hours now on how to implement that call in Angular. I tried inserting it inside one of my components but I don't think it seems to work since it doesn't appear in the list of scripts in the elements tab of my Chrome DevTools.

Here's a picture that shows the script tag isn't being included.

![capture](https://user-images.githubuser

[2018-10-05 08:15] FrancisAguilar21 commented on #168
Any updates here? I'm also experiencing the exact same thing.
When I try to use [Facebook's Scrapper](https://developers.facebook.com/tools/debug/og/object/) and check what their scrapper sees and it's blank. :/

[2018-10-12 08:33] mskasal commented on #215
Hi, Middleware has list of bots and Googlebot not one of them. You can use

[code]

[2018-10-12 08:53] mskasal commented on #225
Hello, you can use `excludeUrlPattern ` option.
[code]

[2018-10-12 09:20] mskasal opened #229 "Missing `Googlebot` keyword in middleware botUserAgents list."
These days I am very interested in polymer's [pwa starter kit](https://github.com/Polymer/pwa-starter-kit) which using [prpl-server](https://github.com/Polymer/prpl-server) which using `rendertron`.
So, when I try using Google's `fetch as Google` service for testing SEO, I got blank pages.

<img width="1071" alt="screen shot 2018-10-11 at 14 39 57" src="https://user-images.githubusercontent.com/24

[2018-10-12 18:28] samuelli commented on #229
Hi,

Yes, this is intentional. Please review https://medium.com/dev-channel/polymer-2-and-googlebot-2ad50c5727dd.

Thanks,
Sam

[2018-10-12 18:28] #229 closed

[2018-10-16 00:53] suhanyujie opened #232 "Internal Server Error"
hello~
When i take a test in `https://render-tron.appspot.com/` for my website `http://laravel.suhanyu.top/`
it's repsponse is:

[2018-10-21 05:03] rajikaimal commented on #232
Hi,

I couldn't reproduce this. Did you try 'Take a screenshot' or 'Render and serialize'?

[2018-10-22 15:16] suhanyujie commented on #232
Perhaps the netwrok problems few days ago.But now is ok.
Thank you!

[2018-10-22 15:16] #232 closed

[2018-10-22 17:37] rajikaimal commented on #232
No problemo 😄

[2018-10-24 02:15] cbstodd commented on #172
@samuelli We just deployed and it looks to be costing about $6 a day for our AngularFirebase app. Is this normal?  $180 a month seems really high for a Server Side Rendering feature.

[2018-10-24 10:28] wibimaster opened #233 ""mobile" version dead"
Hi,

The mobile render is KO, send all the time a 400 with "response does not exist" on console.

Same with fresh build of v2.0.0, v2.0.1, and on https://render-tron.appspot.com/render/https://google.fr/?mobile..

It works only when I remove the `isMobile` parameters on _src/renderer.ts_ -> `page.setViewport`

Is it a puppeteer or rendertron bug ?

Thanks !

[2018-10-25 18:11] rydnr commented on #180
I think this issue has to do with the images you're trying to run. They don't seem to include `/bin/sh`.
@philly-vanilly I'd try to run `docker run -it --rm --entrypoint=/bin/bash b5fa5a4ef4d8`
@marinak6 I'd try to run `docker run -it --rm --entrypoint=/bin/bash 2287eec32ba7`

[2018-10-29 15:48] ballonura commented on #233
Same Problem. Follow.

[2018-11-02 14:46] itmayziii commented on #111
It's not fair to say no sandbox is bad and not provide a solution

[2018-11-06 23:56] gasparhugoricardo commented on #180
Hi, I'm getting the same error while trying to run an image in CentOS, the exact same image in Ubuntu runs perfectly, so I don't think this is a problem with the image.

[2018-11-07 16:07] yctn commented on #207
im trying to do this aswel. anyone got this to work?

[2018-11-13 06:22] varajcs opened #235 "Can we use tomcat and apache as middleware in rendertron instead of express?"
I tried using this in url rewrite in
**Tomcat**
[code]
**For Apache**
`<IfModule mod_headers.c>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_proxy_http.c>
        RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Vali

[2018-11-16 08:56] fr-karthick-sindhu commented on #180
Hi, Has anyone resolved this issue. I am getting the same error! I ain't using docker-compose, I am unable to build a docker image in my Mac

`OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/bin/sh\": stat /bin/sh: no such file or directory": unknown`

[2018-11-27 08:25] tobiasz18 opened #236 "how to set screenshot to folder using express (rendertron-middleware)"
How to make and save in file like 'screenshots' screenshot using rendertron-middleware and whether puppeteer is necessary to do this ?

below is code to serialize & render i want to render and then do screenshots + save this screenshot in folder

const express = require('express');
const rendertron = require('rendertron-middleware');

const app = express();

app.use(rendertron.makeMiddleware({
  p

[2018-11-27 10:18] Romanchuk commented on #226
Why do you insert <script> tag instead of set renderComplete in your code?
[code]

[2018-11-27 11:02] Romanchuk opened #237 "Handling 301 http status"
Is there any way to handle 301 status (Moved permanently) with LOCATION header?
For instance:
[code]

[2018-11-29 12:30] vukan71 opened #238 "Renderton behind Load Balancer"
Renderton behind Load Balancer make problem. We have following setup:

https -> Load Balancer (strips https and make http request) -> Rendertron get Http renders page and return it rendered. But all internal relative links point now to http instead to https.

Problem is in renderer.ts there is line 129
// Inject <base> tag with the origin of the request (ie. no path).

So I have https and links ar

[2018-11-29 12:30] #238 closed

[2018-12-05 04:35] mikeshepard04 opened #239 "npm install error"
When running npm install an error is thrown saying it cannot find event-stream@3.3.6. This version has been removed from the npm registry because it contains a malicious package.

[2018-12-05 20:44] ZeroUnderscoreOu opened #240 "Demo site reported as phishing"
Currently, https://render-tron.appspot.com/ is reported as deceptive site by Google Safe Browsing (and some other services, actually).

Not sure if this is the proper way to report such issue or if anything can be done about it, but I find it a bit ironic.

[2018-12-07 15:12] abdonrd opened #244 "Add Whatsapp as bot"
I would like to propose add WhatsApp as bot. Is here, right?

https://github.com/GoogleChrome/rendertron/blob/fe7784944c952070eae260af6db9bc8bf63ed6e5/middleware/src/middleware.ts#L20-L39

[2018-12-07 15:16] abdonrd commented on #244
I find info about the user agent here:

https://github.com/monperrus/crawler-user-agents/blob/9871716b384f34ae2b58cbe31b738feb2582d0cf/crawler-user-agents.json#L2051-L2073

[2018-12-07 16:52] samuelli commented on #244
That's the right place. We could pull that list out into a better json file and pull it in so it's not in the code.

[2018-12-15 18:58] alan345 commented on #240
Same here.

![screenshot_20181215-105653](https://user-images.githubusercontent.com/15246526/50046449-436f4b00-0058-11e9-8ac3-d7cbbd9d96c2.jpg)

[2018-12-18 16:19] abdonrd commented on #240
Friendly ping to @aomarks and @samuelli!

[2018-12-18 16:54] AVGP commented on #240
Filed this as a false-positive... I'll keep you all posted :)

[2018-12-18 17:11] abdonrd commented on #240
Thanks Martin!

[2018-12-19 04:30] reedzhao commented on #207
Why not use nginx to cache the pages on disk?  I am doing it.

[2018-12-20 03:06] johnlanz opened #251 "Iframe is not working"
If I enable iframe from Accounts->Iframe all of the users can't login anymore its just blank page.

Also I've got this origin error: "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided" if I use this script from documentation:
`<script>
window.parent.postMessage({
  event: 'login-with-token',
  loginToken: 'your-token'
}, 'http://your.rocket.chat.url');
</script>`

Is there

[2018-12-20 09:32] AVGP commented on #240
The issue should be resolved.

[2018-12-20 09:32] #240 closed

[2018-12-24 10:12] pleerock opened #253 "How to specify port"
By default it running on port 3000, how do I change it to my own port since 3000 is already busy?

[2018-12-31 14:10] rajikaimal commented on #239
cc: @samuelli

[2018-12-31 15:07] rajikaimal commented on #208
Hi, couldn't reproduce this, can you provide the environment details.

[2018-12-31 15:34] rajikaimal commented on #253
Hi, set `process.env.PORT`

[2019-01-05 14:33] mccreadylemon commented on #89
For Apache I do it like this:

[code]
hope this helps!

[2019-01-08 01:17] HelgeWieding opened #259 "Angular 6 Ionic 4 rendering goes wrong"
Hi,

I have an application that is using ionic ```4.0.0-beta.15-0``` & ``` angular 6.1.10```.

The rendering is broken and looks like this.

![image](https://user-images.githubusercontent.com/754426/50803219-1e35cb80-12ea-11e9-83bd-b403121aa22f.png)

where as without rendertron it renders correctly

![image](https://user-images.githubusercontent.com/754426/50803237-34438c00-12ea-11e9-9579-894723c6

[2019-01-11 22:38] abdonrd opened #261 "500 Internal Server Error with render-tron.appspot.com"
If I try the https://render-tron.appspot.com website and click on "Render & serialize" it doesn't work.

Link: https://render-tron.appspot.com/render/https://freestylestats.com

[2019-01-12 12:16] abdonrd commented on #261
It seems that the error occurs here:

https://github.com/GoogleChrome/rendertron/blob/6c3f002f489631efb761eedb7c939be9aa7b0a4b/src/renderer.ts#L136-L137

[2019-01-12 14:12] abdonrd commented on #261
It seems that the error has appeared when I went from `@webcomponents/webcomponentsjs` `v2.2.1` to `v2.2.2`.

[2019-01-12 14:37] abdonrd commented on #261
Changes are only dependencies (`@webcomponents/shadycss` & `@webcomponents/shadydom`):

https://github.com/webcomponents/webcomponentsjs/commits/master

Friendly ping to @azakus.

[2019-01-12 15:12] abdonrd commented on #261
@keanulee could you deploy the master branch of `pwa-starter-kit`? So we can check with it:

https://render-tron.appspot.com/render/https://pwa-starter-kit.appspot.com

[2019-01-14 17:43] keanulee commented on #261
Was able to reproduce with pwa-starter-kit-hn (https://render-tron.appspot.com/render/https://pwa-starter-kit-hn.appspot.com). Deployed a version that's pinned to webcomponentsjs@2.2.1 and it seems to at least load (https://render-tron.appspot.com/render/https://20190114t092629-dot-pwa-starter-kit-hn.appspot.com).

[2019-01-14 22:59] keanulee commented on #261
Pretty sure it's the jump from webcomponentsjs 2.2.1 to 2.2.2, which as @abdonrd mentioned [are version bumps of shadydom and shadycss](https://github.com/webcomponents/webcomponentsjs/commit/86eea48dd4bbe9806689c5ec596462bce0ee23e2), including:

- shadydom 1.3.1 to 1.4.0 [diff](https://github.com/webcomponents/shadydom/compare/v1.3.1...v1.4.0)
- shadycss 1.6.0 to 1.8.0 [diff](https://github.com/w

[2019-01-14 23:05] keanulee commented on #261
Even after locking to 2.2.1 though, the page loads but does not render anything in the `<my-app>` element. We suspect this is related to the bump from `@polymer/lit-element` to `lit-element` and possibly the new static `styles` getter.

[2019-01-16 11:18] abdonrd commented on #261
Same here! I have pinned `v2.2.1` and removed the new `static get styles()`.

[2019-01-16 23:40] abdonrd commented on #261
Awesome, thanks @keanulee!
I just deployed a new version with `webcomponentsjs@2.2.4` and everything works fine now! 👏

[2019-01-16 23:40] #261 closed

[2019-01-22 18:50] #212 closed

[2019-01-23 08:34] chemitaxis commented on #74
Hi! Is this issue solved? Any ideas? Thanks!

[2019-01-28 04:36] ukari opened #264 "how to specify hostname?"
I noticed [that](https://github.com/GoogleChrome/rendertron/blob/master/src/rendertron.ts#L65) in `Rendertron.initialize()`, it do a `this.app.listen(port, callback)` which will run the service on the default address `0.0.0.0`

[2019-01-28 19:52] DanielRuf opened #265 "Failing CI"
https://travis-ci.org/GoogleChrome/rendertron/builds/485194594

[2019-01-30 06:21] AVGP commented on #265
It's flaky and I'm not sure why. Here is the same commit passing: https://travis-ci.org/GoogleChrome/rendertron/builds/486198825?utm_medium=notification&utm_source=email

[2019-01-30 08:35] DanielRuf commented on #265
Shall we retrigger CI?

[2019-02-05 17:20] AVGP commented on #265
Well the latest build is green :) I think I'll spend some time next week trying to find out what's the shaky bit at play here...

[2019-02-05 17:20] #265 closed

[2019-02-09 07:52] gravi2 commented on #179
I now notice that Google is recommending using rendertron in the documentation, for dynamic rendering. So I guess this is not considered Blackhat SEO.
https://developers.google.com/search/docs/guides/dynamic-rendering

[2019-02-09 12:48] AVGP commented on #179
Hi, I'm the one who wrote the dynamic rendering guide mentioned by @gravi2 - dynamic rendering is a workaround we officially support and Bing has also signalled that they're fine with it.

Unless you do something to mislead your users (cloaking), you're fine :)

[2019-02-11 06:28] bm-stschneider commented on #179
What is cloaking in this context?

[2019-02-11 06:33] AVGP commented on #179
Say your website is about selling boats, but you'd show a website about cute kittens to the crawler. That is cloaking. As long as you don't mislead your users, using Rendertron is fine.

[2019-02-11 06:34] bm-stschneider commented on #179
ah ok.

[2019-02-11 22:28] nollytainment commented on #74
Also stuck here man! nothing seem to be working

[2019-02-14 15:13] jooohn opened #269 "selector support"
Does anyone like the idea of taking a screenshot of a specific DOM element? I want this feature to detect changes of webpages, so I personally tried it: https://github.com/jooohn/rendertron/commit/bcd2a62efa27e242801881f19c870b3b7b0aeb53

You can try this online:
https://rendertron-selector.herokuapp.com/

[code]

the result:
![example](https://user-images.githubusercontent.com/2661835/52795571-66

[2019-02-15 04:51] gravi2 commented on #253
Also checkout my PR #267 for config options.

[2019-02-15 06:33] AVGP commented on #253
Here's a sample invocation for running it on port 8080:

[code]

[2019-02-15 06:33] #253 closed

[2019-02-15 10:30] tsujihidetaka commented on #235
What is a problem?

[2019-02-15 12:43] varajcs commented on #235
I tried using rendertron to solve angularjs URL share with image preview in social media (Facebook, Twitter, Linkedin). By using the above rewrite rule. But the rendertron site not returned response to bot. so how to do that? using rewrite rule for proxy rendertron when bot crawl for sharing.

[2019-02-15 17:51] tsujihidetaka commented on #235
In my case, SSLProxyEngine was off.
So I wrote "SSLProxyEngine on" in httpd.conf
Also I wrote RewriteCond and RewriteRule as above in httpd.conf
It works for me.

[2019-02-16 12:33] collyrooms commented on #180
The scratch image is  "empty". There are no files provided by the base image, most importantly there is no shell (bash, sh, etc).

When you tried to run the bash script it failed because there is no bash binary to run it.

If you'd like to just run a bash script, you should try creating an image from alpine which is a minimal linux distribution:

[code]

[2019-02-18 04:53] varajcs commented on #235
Thanks, I will try.

On Fri, Feb 15, 2019 at 11:21 PM Hidetaka Tsuji <notifications@github.com>
wrote:

--

*Thanks!*

*Kind Regards,*

*Varaj Swaminathapillai*
Associative Software Engineer
CapeStart
Mobile: 8148990695
www.capestart.com

[2019-02-18 19:59] mavame opened #270 "Abort on non-essential requests (stylesheets, images)"
Per this article, it may be a good idea to add this to the core renderer library:
https://developers.google.com/web/tools/puppeteer/articles/ssr#abort

I see another open issue (#225) where the suggested solution is to use `excludeUrlPattern` but that assumes you're using the express middleware with Rendertron.

I can't imagine a use case where you'd be using this library for SEO, and you'd want r

[2019-02-18 20:00] mavame commented on #270
I'm happy to contribute a PR for this if anyone else thinks its a needed feature.

[2019-02-18 21:26] mavame commented on #90
For what it's worth, I got up and running on Heroku using the previously [mentioned](https://github.com/GoogleChrome/rendertron/issues/90#issuecomment-358240501) buildpack. But I  needed to do a few extra things so I want to document them here:

This assumes you've started a Heroku app and are interacting with it via the[ Heroku CLI](https://devcenter.heroku.com/articles/heroku-cli).

First, add t

[2019-02-25 22:19] reedzhao commented on #270
I like to have this.  We use nginx to proxy all googlebot requests to rendertron.  There is no nodejs middleware in our stack.

[2019-02-26 00:51] mavame commented on #270
@reedzhao feel free to use my fork which includes this change. I will PR into the main rendertron repo if/when a maintainer tells me they agree with the proposal.

https://github.com/mavame/rendertron

[2019-02-26 01:05] reedzhao commented on #270
Exactly what we need. Thanks!

[2019-02-27 12:59] coolbung opened #276 "Chrome Framework exceeds maximum allowed filesize for Google AppEngine"
I am trying to deploy to Google AppEngine. I have checked out the code and verified that I am able to run rendertron locally.  However when I try to deploy to GAE using the command

[code]
the deployment fails with the error

`
ERROR: (gcloud.app.deploy) Cannot upload file [/Users/ashwindate/Documents/git/rendertron/node_modules/puppeteer/.local-chromium/mac-588429/chrome-mac/Chromium.app/Contents

[2019-02-28 17:43] frontendr opened #277 "Add an option to disable removal of script tags"
I am assuming some very smart people found more than enough reason to fully remove script tags after the render has completed in the `stripPage` function. I'm trying to use rendertron to pre-render a react application. The result is then used as response in a Django application.

It works like a charm except for the fact that the React app can never work again in the pre-rendered code because all

[2019-03-01 03:52] adi9999 commented on #277
Yes app not work after render because all script gone now and also global variables , Anyone knows how to solve this issue?

[2019-03-01 08:09] frontendr commented on #277
@adi9999 See the commits on my fork which works fine:
https://github.com/frontendr/rendertron/commits/feature/configure-strip-page

https://github.com/frontendr/rendertron/commit/f7c95baf735cfc36096a5c70a3385fea5c7e6d5b adds the config variable in which you can specify the selector of the elements to remove.
https://github.com/frontendr/rendertron/commit/2e885e5d28e5febb3383df70c7ce7924135a57ff Fi

[2019-03-03 08:31] AndroidLibrariesYoutube opened #278 "Only Rendering the index page."
I have added middleware in my express server and I am running an angular app with the express server. Rendertron only rendering my index.html page with all the javascript. But it's not rendering the other components. Can anyone tell what's the problem?

[2019-03-03 20:26] frontendr commented on #278
Do you mean the Angular application is not rendered and you only see the basic output of your `index.html`? If it does render the Angular application, are you actually requesting the subpages?
Do you see any logging in the running Rendertron service when you are requesting the subpages?

[2019-03-04 08:41] AndroidLibrariesYoutube commented on #278
I don't see any logging in the Rendertron service. My angular application is running properly but rendertron is not going on the subpages It only showing the home page with working api's. How I can register subpages can you help me?

[2019-03-04 08:45] frontendr commented on #278
Rendertron works by request. You request a page for Rendertron to render.
It does not crawl your site automatically.

So if you want to render subpages you'll have to manually request each
page. For example, if your Rendertron runs on `http://localhost:3000`, you
i'll request these pages:

- `http://localhost:3000/render/http://mysite.com/` and store the result
- `http://localhost:3000/render/http

[2019-03-04 08:51] AndroidLibrariesYoutube commented on #278
Ok but I am bit confused. I need to save those pages in any database or I can do at runtime. And how I can pass the subpages URL I don't see any documentation about that. Thanks for helping.

[2019-03-04 09:01] frontendr commented on #278
The implementation depends on your own system. Rendertron does 1 thing: render a page and return the resulting HTML. What you do with the resulting HTML is up to you.

When you start the Rendertron service you'll see it's listening on `localhost:3000` or something.

You'll have to request a render of your page by yourself. The API is described in the [README](https://github.com/GoogleChrome/render

[2019-03-04 09:04] AndroidLibrariesYoutube commented on #278
Ok, I will try it. Thanks.

[2019-03-04 09:07] frontendr commented on #207
My question is if this is should really be a part of this package. Shouldn't it be the job of some middleware which is requesting the render? Maybe write some tutorials on how to do it using different applications as @reedzhao did with NGINX. This way we can keep this package 'clean' and 'unopinionated' on how to store any renditions.

I suggest to let it do one thing and one thing good and that's

[2019-03-05 08:24] AndroidLibrariesYoutube commented on #278
I tried to debug but I didn't find any. The problem is the same it only rendering the same index.html page. It's not rendering other components of my site. I am testing with a user-agent extension in chrome

[2019-03-08 21:14] ghidinelli commented on #180
I've been battling this for an unrelated Docker project and made my way here. In case this helps anyone else, it seems the underlying / intermediate images got corrupted somehow. Removing the base image and all children and repulling down the base fixed it for me. Hope that helps!

[2019-03-08 21:29] fxalvarezd opened #281 "Argument of type '"unhandledRejection"' is not assignable to parameter of type 'Signals'."
I cloned the repo from scratch following the steps below:
[code]

and during the `build` process I'm getting this typing error.

`Argument of type '"unhandledRejection"' is not assignable to parameter of type 'Signals'.`

[2019-03-08 21:31] #281 closed

[2019-03-08 21:32] fxalvarezd commented on #281
tried the exact same process again after a while and it worked... not sure if it was a hiccup with a dependency...

[2019-03-13 08:04] gravi2 commented on #281
@fxalvarezd I was facing the same issue. I think its still a issue. Try this, get the latest code, delete the package-lock.json and try same steps. You should see the issue again. Looks like some of the latest packages bring in a node package that does not like process.on('unhandledRejection', logUncaughtError);

https://github.com/GoogleChrome/rendertron/blob/master/src/rendertron.ts#L151

I am r

[2019-03-13 11:16] aftoncreative commented on #74
@nollytainment have you tried with the latest puppeteer version?

I had exactly the same problem. I added 'emojione-android.ttf'-font to my ubuntu-server. My emojis were blurry and had skin tone balls next to emojis.

When i updated to the lastest puppeteer-version, the problem was fixed.

[2019-03-17 13:58] ilicmarko commented on #281
I can also confirm this. As @gravi2 I am using Ubuntu.

[code]
I tried `yarn` and `npm` same issue.

[2019-03-21 17:59] AndroidLibrariesYoutube opened #282 "Express middleware only renders the index page of angular site."
I am using node and express as a backend and angular 7 as a front-end. I have added the rendertron express middleware but only index page is rendering. I have tested with multiple user-agent and the result is the same. I am unable to debug what's the problem is. Please help.

[2019-03-24 13:56] philkunz opened #283 "AdSense"
Does rendertron in any way affect AdSense crawling compatibility?

Just asking since no clicks and views are registered through AdSense on an otherwise working page written with lit-element (with Ads showing as normal of course).

[2019-03-26 20:23] ohabash opened #284 "works on rendertron but not on google test"
Im going to google and simulating a google crawl and the page source does not show the pages content.

If i go to `view-source:https://render-tron.appspot.com/render/https://fornida-boilerplate.herokuapp.com` the page source shows all content.

1. what is a better way to test locally?
2. why does `view-source:https://render-tron.appspot.com/render/https://fornida-boilerplate.herokuapp.com` work bu

[2019-03-29 12:22] philkunz commented on #284
I think you are confused by either of the following things:

* rendertron (puppeteer) is a different chrome version than Google Search (pretty old with v41)
* The Googlebot Useragent is not included in the default rendertron middleware's user agent list. You have to modify that yourself like so: https://gitlab.com/pushrocks/smartexpress/blob/master/ts/smartexpress.tools.rendertron.ts

[2019-03-31 21:06] InnovativeInventor opened #286 "Rendertron appspot marked as phishing"
https://www.virustotal.com/#/url/add34b8bddc3d26585223851e00d43572103d94096a924c1d10e1b7a50a17b46/detection.

Regression of #240?

[2019-04-01 20:29] ohabash opened #287 "Rendertron not working for Facebook"
Im using `rendertron-middleware` and it is not working for facebook bots. Any tips?
[code]

[2019-04-02 17:41] ifeltsweet commented on #270
@samuelli, can we please have this?

[2019-04-02 17:43] ifeltsweet commented on #225
@mskasal, this has to happen on the renderer level, not in middleware.

[2019-04-24 05:31] nicowagner commented on #224
im having the exact same issue, only googlebot works!

[2019-04-27 15:27] nicowagner opened #288 "HttpConnectionTimeout for Twitter Card"
Hi!
Im receiving this error when triyng to render my card on twitter validator, the app is working fine with facebook card, but not twitter.

Twitter error:
ERROR: Failed to fetch page due to: HttpConnectionTimeout

Someone could solve this?

Thanks!

[2019-04-30 01:31] rmatsuura commented on #288
I also suffer from the same problem.

[2019-04-30 07:46] abdonrd commented on #288
Same here!

[2019-05-07 08:10] Supamiu opened #289 "Explicit render flag"
As I'm working with some firebase stuff and some requests that can pretty much hang for dozens of seconds even if they are useless for the rendering process, I wanted to use a render flag to tell the renderer I finished rendering my page.

So I found this PR: #126 that adds exactly what I want.

I implemented it inside my page and realized that it wasn't working.

By looking at the source code, it

[2019-05-18 16:26] tehXor commented on #259
I'm seeing similar problems with Ionic 4 & Angular 7. Definitely no time budget/async problem since for example `screenshot` instead of `render` returns correct screenshots. However I would fear crawlers will ignore content also it is present in the serialized code since it is not visible due to broken css/shadow dom. I couldn't find a workaround so far with for example the available rendertron pa

[2019-05-31 12:04] AJ-7885 opened #291 "Issue on Product version of Styled-Components when render with Rendertron"
have very simple sample app which build Create React App + Styled-Components to prove this issue. But I have real big application which I am facing this issue which I am going to explain it below.

I would like to pre-render this app with Rendertron for SEO/GoogleBots and etc. But the problem is when I build PRODUCTION version of React App which use Styled-Components . all the style will be missin

[2019-06-07 21:00] Badhumvee opened #293 "Rendertron on Ubuntu works find for some hours but abruptly stops and needs to be started manually"
Hi I have installed Rendertron on a Ubuntu server.  It works just fine as expected (and we have a very simple page prerender use case).  But after few hours (random, ranges from 2 hrs to 1 day) we start getting 'connection refused' on or calls on port 3000 from the server, and when we check the server, rendertron is not listening on the port 3000 anymore.
Any idea why the rendertron is stopping ab

[2019-06-09 14:15] chirayu25 commented on #177
I am also facing same issue. Is any one able to solve this??

[2019-06-10 19:10] Badhumvee opened #294 "Enabling and/or increasing Cashe use of Rendertron on its own server"
HI, I am running Rendertron on its own server to prerender my SPA pages.  Often it takes too long for rendertron to respond with the prerendered page.  So a few questions arise regarding its use of Cache:
1) Does installing Rendertron configure its own Caching?
2) Is there anything we can do to allow either Rendertron or the headless Chrome to Cache using more local memory ?
3) Does the headless v

[2019-06-12 19:51] Badhumvee opened #295 "Sending the SPA-response html to Rendertron instead of URL of page"
Sending the SPA-response html to Rendertron instead of URL of page

I would like to send the response from our Single Page Application forwarded to the rendertron (not the url) to be prerendered and then send that prerendered html back.
This way, I am saving on a couple of hops which adds significant delays on our end to get a response from rendertron.

So can we have something like:

www.rendertr

[2019-06-14 07:49] tkrugg commented on #284
Is there a reason for not including googlebot in the default user agents list?

[2019-06-14 07:52] philkunz commented on #284
yes! Things have changed since then. GoogleBot now is shortly behind the official chrome and currently at chrome version 74+ No need to send GoogleBot through rendertron whatsoever.

[2019-06-26 13:04] whitecolor opened #296 "Cache invalidation"
There is really a lack of explanation of how caching works and what are recommendations for implementing it if not embedded works.

[2019-07-09 17:36] mkoczorowski commented on #237
+1

[2019-07-11 13:45] gko opened #297 "new package version"
Can you publish new package version? Cause there was no version since this was added:
[src/renderer.ts#L27](https://github.com/GoogleChrome/rendertron/blob/4f396d4d522cd39ceaa0b33b203afd81371e28f5/src/renderer.ts#L27)

Thank you

[2019-07-15 09:44] tayambamwanza opened #298 "Vulnerability report"
I was happily installing rendertron and then I saw this (How worried should I be?):

![Screenshot from 2019-07-15 11-42-13](https://user-images.githubusercontent.com/11971384/61207638-e757cc80-a6f5-11e9-9fde-e7074c88f5c7.png)

[2019-07-24 13:19] kokaprathyush commented on #288
Same problem

[2019-07-28 03:15] fishmisswater opened #299 "Could not load the default credentials."
when I run by docker while caching is enabled . I got this:
 <-- GET /render/https://www.baidu.com/
  xxx GET /render/https://www.baidu.com/ 500 0ms -

  Error: Unexpected error while acquiring application default credentials: Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information.
      at GoogleAuth.<anon

[2019-07-29 03:05] nd093 opened #300 "Renderton + nginx + error_log"
Hello,
Thank you in advance for for your help!

I have implemented renderton with nginx server.
What I need is to log errors only generated from rendertron server.
Any suggestion ?
Please let me know if more information needed.
Thank you

[2019-08-29 09:30] amannguptaggg opened #303 "npm run build error"
'tsc' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! rendertron@2.0.1 build: `tsc`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the rendertron@2.0.1 build script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can b

[2019-08-29 12:50] AVGP commented on #303
Did you run `npm install` before? That should have installed the typescript compiler (`tsc`).

[2019-08-29 12:54] amannguptaggg commented on #303
yup...problem is solved.
thanks for replying. :)

[2019-08-29 12:54] #303 closed

[2019-08-29 13:00] AVGP commented on #303
Perfect, thank you!

[2019-08-29 13:12] AVGP commented on #300
Hey @nd093 - how are you running Rendertron? It logs errors to its STDERR.

You can redirect the error logging to a file. For example:

[code]

This will write info messages (e.g. the requests made to your Rendertron instance) to `/var/log/rendertron/info.log` and errors to `/var/log/rendertron/error.log`

[2019-08-29 13:16] AVGP commented on #299
According to [the readme](https://github.com/GoogleChrome/rendertron#deploying-using-docker) we're not providing a Docker deployment out of the box.

Due to that, I'm not sure where this error is coming from - maybe it uses Google Cloud datastore and that needs to be set up somehow?

[2019-08-29 13:18] AVGP commented on #295
Unless that has all assets inlined (CSS, JS, images), it would still need to make a network request to whatever serves the SPA. I'm not sure the potential gain would justify the additional complexity of such feature. That being said, you can of course explore that option by modifying Rendertron yourself.

[2019-08-31 05:25] #300 closed

[2019-09-01 21:30] AVGP commented on #296
Right now it uses the Google Cloud datastore and items will expire after 24 hours ([see here](https://github.com/GoogleChrome/rendertron/blob/master/src/datastore-cache.ts#L54)) which is a hard-coded value.

We're in the process of also providing a way to use an in-memory cache and additional documentation.

[2019-09-06 07:27] haihoi2 commented on #37
HI, anyone here update or follow this?

[2019-09-09 06:56] fishmisswater opened #304 "failed to install"
git clone https://github.com/GoogleChrome/rendertron.git
cd rendertron
npm install
npm run build

I used this commond to install. But It failded:
_src/rendertron.ts:146:14 - error TS2769: No overload matches this call.
  The last overload gave the following error.
    Argument of type '"unhandledRejection"' is not assignable to parameter of type 'Signals'.

146   process.on('unhandledRejection', l

[2019-09-09 12:14] AVGP commented on #304
Could you post the output of `npm list` when run in the rendertron folder?
Also, run `tsc --version` and post the output here, please.

[2019-09-09 12:14] #299 closed

[2019-09-09 12:15] #295 closed

[2019-09-09 12:26] AVGP commented on #90
I guess the lack of activity and the success stories around the buildpack mean that this is sorted?

[2019-09-09 12:26] #90 closed

[2019-09-09 12:27] AVGP commented on #106
Do you still have the additional docs? I'd love to see them as part of the README

[2019-09-09 12:28] AVGP commented on #154
We're not actively supporting node 0.10 anymore. If the issue persists with current versions of node, please reopen :)

[2019-09-09 12:28] #154 closed

[2019-09-09 12:36] AVGP commented on #277
Thanks for your ideas and the work you've done in your fork, @frontendr!

The main use case for Rendertron is [dynamic rendering](https://developers.google.com/search/docs/guides/dynamic-rendering), i.e. rendering a client-side rendered web app into **static HTML**.

The use case you describe sounds like you want [re-hydration](https://developers.google.com/web/updates/2019/02/rendering-on-the-web

[2019-09-09 12:53] AVGP commented on #191
This will be possible once #227 lands.

[2019-09-09 12:53] #191 closed

[2019-09-09 12:59] AVGP commented on #207
I agree with @frontendr especially as file systems bring various settings and potential issues (e.g. permission problems) with them. If someone wants to build this and customize Rendertron with it then feel free to look into the https://github.com/GoogleChrome/rendertron/blob/master/src/datastore-cache.ts file. Instead of calling the datastore, you'd have to implement the `cacheContent` and `middl

[2019-09-09 12:59] #207 closed

[2019-09-09 13:03] justinribeiro commented on #106
I have more than when I initially talked to Sam about it. :-)

When I get off the road late next week, I'll clearn up some docs and start making PR's.

[2019-09-09 13:04] AVGP commented on #293
The process continues running but it stops listening to port 3000?

[2019-09-09 13:07] AVGP commented on #294
1. Caching is optional and off by default.
2. Once #227 lands, you have the option to use an in-memory cache.
3. Not sure, that needs some investigating...

[2019-09-09 13:08] AVGP commented on #286
Does anyone know how to report this to BitDefender and Sophos?

[2019-09-09 13:13] AVGP commented on #278
As @frontendr said, Rendertron takes a URL and renders that exact URL into static HTML.
It can be used behind a reverse-proxy or as part of any server-side setup, like an express.js server.
You can check out [this codelab](https://codelabs.developers.google.com/codelabs/dynamic-rendering/index.html?index=..%2F..index#0).

For Angular, you could also try [Angular Universal](https://angular.io/guide

[2019-09-09 13:13] #278 closed

[2019-09-09 13:14] #208 closed

[2019-09-09 13:25] AVGP commented on #289
This seems to have been removed with the switch to Puppeteer indeed.
Unfortunately, [it seems that Puppeteer isn't going to add the possibility to listen to events](https://github.com/GoogleChrome/puppeteer/issues/2455)..

Closing this issue for now, feel free to reopen, if you wanna take a stab at this with a PR

[2019-09-09 13:25] #289 closed

[2019-09-09 13:26] #284 closed

[2019-09-09 13:27] AVGP commented on #282
Duplicate of #278

[2019-09-09 13:27] #282 closed

[2019-09-09 13:30] AVGP commented on #106
Awesome, thanks Justin!

[2019-09-09 13:40] AVGP commented on #283
Possibly as it removes JavaScript from the rendered page. What is your use case for using Rendertron, if I may ask?

[2019-09-09 13:41] AVGP commented on #259
Do you have that page online somewhere or could you give us a demo app with Ionic 4 & Angular 7 that exposes that problem?

[2019-09-09 13:42] AVGP commented on #269
That is a really neat feature, I'd love to see a PR for this :shipit:

[2019-09-09 13:49] AVGP commented on #270
I'm not seeing the actual change (besides one commit that updates the README) in your fork, but I'm intrigued. I think it should be a parameter per request or in the config to let people choose when/if they want that, but the feature itself makes sense to me.

[2019-09-09 13:50] #235 closed

[2019-09-09 13:56] AVGP commented on #276
Weird, I can't reproduce that here - could you try again with the current version of Chromium?

[2019-09-09 14:04] #226 closed

[2019-09-09 14:06] AVGP commented on #217
Rendertron does not provide a JS interface to flag that your app is done rendering at the moment. It sounds like there are other options that support this, tho, so I'm closing this issue.

If you wish to experiment with adding this feature to Rendertron, I'll happily take a look at a PR :)

[2019-09-09 14:06] #217 closed

[2019-09-09 14:07] AVGP commented on #225
That is under consideration as discussed in #270

[2019-09-09 14:07] #225 closed

[2019-09-09 14:09] AVGP commented on #251
Hey @johnlanz , I have a few questions about this:

1. What is "Accounts -> Iframe"? Where does that come from?
2. What is your use case? Rendertron's main use cases aren't exactly for scenarios where users need to log in
3. Do you have a URL where we can see this behaviour?

[2019-09-09 14:12] AVGP commented on #237
There is no way for this right now. A workaround would be to set a meta refresh:

[code]

If you wish to experiment with support for such a feature, we're welcoming your pull request :)

[2019-09-09 14:12] #237 closed

[2019-09-09 14:13] AVGP commented on #236
What's the use case for doing this on each request?
If the goal is to get screenshots, you can use puppeteer directly, without involving Rendertron.

[2019-09-09 14:14] AVGP commented on #288
Could you share a sample URL to test?

[2019-09-09 14:16] johnlanz commented on #251
sorry wrong issue

[2019-09-09 14:16] #251 closed

[2019-09-09 14:19] AVGP commented on #288
Seems to work for the demo instance, at least with a very simple test page:

<img width="992" alt="Card_Validator___Twitter_Developers" src="https://user-images.githubusercontent.com/370246/64538765-8b5d9d00-d360-11e9-8ff9-f75644579d52.png">

[2019-09-09 14:21] AVGP commented on #224
Is there a URL I could use to reproduce the problem? It seems to work fine with a simple demo page that uses JS to generate the meta tags & the demo instance:
<img width="588" alt="_1__Neueste_Tweets___Twitter" src="https://user-images.githubusercontent.com/370246/64538980-f8713280-d360-11e9-8a24-419a078914ea.png">

I guess this might be a timeout problem?

[2019-09-09 14:25] AVGP commented on #37
The fundamental function is present, but there is currently no way to get to it.
This would require a PR to set up a route to it.

I would leave the authentication out of Rendertron as that's something that is best dealt with on the level of whatever infrastructure is making the calls to Rendertron (i.e. the reverse proxy or whatever other server is in front of Rendertron)

[2019-09-09 14:26] AVGP commented on #206
That was a false positive and should no longer be the case. If the issue persists, please reopen the issue.

[2019-09-09 14:26] #206 closed

[2019-09-09 14:27] #89 closed

[2019-09-09 14:27] #95 closed

[2019-09-09 14:29] AVGP commented on #108
It's not supported and there are no plans in adding this feature - but pull requests are welcome!
Alternatively, if you are specifically interested in fullpage screenshots, see [this issue on Puppeteer](https://github.com/GoogleChrome/puppeteer/issues/1273)

[2019-09-09 14:29] #108 closed

[2019-09-09 14:31] #175 closed

[2019-09-09 14:34] AVGP commented on #181
I wasn't able to reproduce this problem. Could you check if CHROME_PATH is set to something specific on your server or try upgrading to the latest version of Rendertron?

Feel free to reopen this issue if the problem persists.

[2019-09-09 14:34] #181 closed

[2019-09-09 14:41] AVGP commented on #168
Rendertron, as of today, is using Chromium 71. [Support for Custom Elements v1](https://caniuse.com/#feat=custom-elementsv1) and [Shadow DOM v1](https://caniuse.com/#feat=shadowdomv1) first shipped in Chromium 76.

I'll take this issue as an opportunity to update the puppeteer version and thus the Chromium version.

[2019-09-09 14:54] AVGP commented on #168
Okay, red herring. As Shadow DOM content is basically inaccessible to Rendertron, it needs to force a "Shady DOM" which isn't helping if there are no polyfills being loaded.

Unfortunately we don't have a better answer to this than: "Load the polyfill for shadow DOM" :/

[2019-09-09 14:54] #168 closed

[2019-09-09 14:59] AVGP commented on #171
That depends on the number of parallel requests you're dealing with as well as the memory and CPU consumption of each browser tab rendering your pages. So that's very hard to answer.

I'd say: Observe the consumption of a locally-running Rendertron instance under the load conditions you'll have when deployed and use that.

[2019-09-09 14:59] #171 closed

[2019-09-09 14:59] #178 closed

[2019-09-09 15:00] #180 closed

[2019-09-09 15:01] AVGP commented on #177
We're no longer officially supporting the Docker deployment path at the moment.

[2019-09-09 15:01] #177 closed

[2019-09-09 15:02] #173 closed

[2019-09-09 15:03] AVGP commented on #176
For Angular, I would recommend [Angular Universal](https://angular.io/guide/universal) as an alternative.

[2019-09-09 15:03] #176 closed

[2019-09-09 15:03] #116 closed

[2019-09-09 15:04] #170 closed

[2019-09-09 15:05] AVGP commented on #213
As this is now configurable, I'll close this.

[2019-09-09 15:05] #213 closed

[2019-09-09 15:07] AVGP commented on #214
Feel free to give it a go and submit a pull request!

[2019-09-09 15:07] #214 closed

[2019-09-09 15:30] AVGP commented on #287
I can't reproduce that with your exact bot list. I have a page that uses JS to generate the OpenGraph meta tags and it shows up fine in the share debugger when rendered via Rendertron:

<img width="723" alt="Sharing_Debugger_-_Facebook_for_Developers" src="https://user-images.githubusercontent.com/370246/64544453-63733700-d36a-11e9-9249-969cce9c3316.png">

Could you:

1. Check if you get the rende

[2019-09-09 15:31] #269 closed

[2019-09-09 15:44] AVGP commented on #298
Many of those are in the `devDependencies`, but still: Good point.
Once #306 lands, this will be resolved :)

[2019-09-09 15:44] #298 closed

[2019-09-09 15:45] AVGP commented on #239
This should be resolved once #306 lands

[2019-09-09 15:45] #239 closed

[2019-09-09 15:47] AVGP commented on #297
We'll publish a new version of Rendertron and rendertron-middleware soon. It's going to be a major version change for rendertron-middleware, probably.

[2019-09-09 15:48] #296 closed

[2019-09-09 16:06] AVGP commented on #291
First things first: Thank you for the fantastic bug report. The test case was super helpful!

It seems that you found the answer, according to StackOverflow. The option to directly inject into CSSOM makes serialising from the DOM impossible, hence the issue you were seeing.

[2019-09-09 16:06] #291 closed

[2019-09-09 16:08] #277 closed

[2019-09-09 16:08] #236 closed

[2019-09-09 16:10] #276 closed

[2019-09-09 16:20] AVGP commented on #185
Why do you need Rendertron for this? You could use pupeteer directly as well.

But for what it's worth: The `/screenshot/` endpoint returns a JPG right away, so all you need to do is read the response and save it into a file, like this, for example, in node.js:

[code]

[2019-09-09 16:20] #185 closed

[2019-09-09 16:22] AVGP commented on #215
It seems to be a timeout problem. This page takes way longer than 10 seconds on my stable and fast connection to load.

[2019-09-09 16:22] #215 closed

[2019-09-09 16:24] AVGP commented on #211
Use the 'timeout' option in the `config.json` for this.

[2019-09-09 16:24] #211 closed

[2019-09-09 23:37] AVGP commented on #74
This isn't an issue with Rendertron, but with the environment configuration.

For example, it works here:
![image](https://user-images.githubusercontent.com/370246/64573420-8fb0a700-d3ae-11e9-9f69-497140bd7064.png)

The demo instance fails with Emojis, but displays the other text.

We no longer officially support the Docker deployment and setting up the fonts depends on the environment, not on Ren

[2019-09-09 23:37] #74 closed

[2019-09-10 01:51] fishmisswater commented on #304
npm list:
[code]
tsc --version:
Version 2.7.2

[2019-09-10 15:04] AVGP commented on #304
Good catch - this is a problem with a newer version of typescript.

For now you can work around the issue by running `npm install typescript@3.0.3` inside the rendertron folder. I'll make sure we update whatever it is that breaks with the newer TypeScript 3.6.2 :)

[2019-09-10 21:05] #160 closed

[2019-09-10 21:10] #304 closed

[2019-09-11 07:58] fishmisswater commented on #299
even if I run it directly，this issue still exit:
[code]

[2019-09-11 08:12] AVGP commented on #299
You're using the dataStoreCache, which uses Google Cloud's data store as a
backend.

That means you either

   - need to set up a Google Cloud project and follow the link from the
   error message to setup credentials.
   - pull from master and set `cache` to `memory` in `config.json` (create
   that file if it doesn't exist).
   - disable the cache.

On Wed, Sep 11, 2019 at 5:58 PM str1ng <notifi

[2019-09-11 08:37] fishmisswater commented on #299
I see, thank you

[2019-09-11 22:19] elgreatly commented on #224
for me it was a problem in the combination for rendertron URL in the server when i fix it everything working correctly

[2019-09-12 03:09] AVGP commented on #224
@elgreatly could you elaborate on that? What was the problem and what exactly fixed it? Did you use a wrong rendertron URL?

[2019-09-13 11:37] AVGP commented on #224
Right, thanks for the clarification @elgreatly. Unless someone has steps on how to reproduce the problem, I'll close this soon

[2019-09-26 09:58] shamim-42 commented on #180
Thank you @collyrooms . It works for me

[2019-10-03 12:00] AVGP opened #315 "[Docs] Create a hosted online documentation"
Currently, Rendertron has limited documentation available in the [README](../tree/master/README.md). This was fine when Rendertron was a small project with few options.

Given its adoption and growing number of options, plus the `rendertron-middleware` sub-project, it's probably time to provide a proper documentation suite.

The first step that this issue is concerned with is setting up Github Pag

[2019-10-03 12:36] AVGP commented on #106
Hey Justin, once #316 is merged, we have a bit more infrastructure for this. I'd love to use this issue to fill in `docs/deploy.md` which should become part of the new Github Pages docs for Rendertron :)

Let me know if you have something you can either dump into this issue or wanna take this one yourself. It's [Hacktoberfest](https://hacktoberfest.com) so putting a little more details in here wou

[2019-10-04 10:18] #315 closed

[2019-10-04 10:21] AVGP opened #317 "[Docs] Write documentation on deployment via gcloud"
- Create a new file `docs/deploy.md`
- Write a section on how to deploy Rendertron to Google Cloud Platform

To write this, see [the deployment section of the codelab](https://codelabs.developers.google.com/codelabs/dynamic-rendering/index.html?index=..%2F..index#3).

[2019-10-04 10:24] AVGP opened #318 "[Docs] Document deploying Rendertron to Heroku"
- Create or edit `docs/deploy.md`
- Add a section on how to deploy to Heroku

Explain how to deploy a Rendertron instance to Heroku. [This issue has some pointers](https://github.com/GoogleChrome/rendertron/issues/90)

[2019-10-04 10:32] AVGP opened #319 "[Docs] Document deploying Rendertron via Docker"
- Create or edit `docs/deploy.md`
- Add a section that explains how to deploy Rendertron via Docker

The puppeteer docs [have some pointers](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker) and there was a [pull request with a Dockerfile](https://github.com/GoogleChrome/rendertron/pull/220)

[2019-10-05 04:49] grachit opened #320 "Rendertron - inconsistent html rendering"
@abdonrd
At times, I am observing that html rendered by rendertron is not consistent and misses some html elements from pages.
For e.g. Rendering of Carousel section is not always consistent. Number of elements rendered within it differs.

Are there any setting changes we need to do? It would be great if we can get some help over it.

[2019-10-05 07:56] AVGP commented on #320
Do you have a reduced test case for us to check?

[2019-10-05 08:02] AVGP opened #321 "[Docs] Replace Github Emojis with their image equivalents"
In `docs/index.md` there are three emojis (for example `:hammer:`). They are shown correctly in the preview (for example like this: :hammer: ) but the HTML rendering at https://googlechrome.github.io/rendertron doesn't show them correctly.

1. Look at the preview in https://github.com/GoogleChrome/rendertron/blob/master/docs/index.md and right click an emoji to get the image address
2. Edit `docs/

[2019-10-05 08:22] AVGP opened #323 "[Docs] Add a user guide"
- Create a new `docs/server-setup.md` file
- Explain what Rendertron is good for (see the [README](https://github.com/GoogleChrome/rendertron/blob/master/README.md))
- Explain the basic function of Rendertron (you can use information from [the dynamic rendering guide](https://developers.google.com/search/docs/guides/dynamic-rendering)
- Explain the basic setup. You can use [this codelab](https://c

[2019-10-05 08:35] AVGP opened #324 "[Docs] Explain configuration"
- See the [README](https://github.com/GoogleChrome/rendertron/blob/master/README.md) for config options
- Explain the config options in a new `docs/configure.md` file

[2019-10-05 08:37] AVGP opened #325 "[Docs] Explain server setup"
- Create a `docs/server-setup.md` file
- Explain how to use [rendertron-middleware](https://github.com/GoogleChrome/rendertron/blob/master/middleware/README.md) for node.js webservers
- Explain how to set up Apache or Nginx
- Feel free to add information to whatever other servers you can think of :)

[2019-10-05 08:38] mfaheemakhtar commented on #321
Hey @AVGP, The image is bigger than the emoji.

:hammer: `:hammer:`

![](https://github.githubassets.com/images/icons/emoji/unicode/1f528.png)
`![](https://github.githubassets.com/images/icons/emoji/unicode/1f528.png)`

<img src="https://github.githubassets.com/images/icons/emoji/unicode/1f528.png" width="16"> `<img src="https://github.githubassets.com/images/icons/emoji/unicode/1f528.png" width="

[2019-10-05 08:43] yogesh-io commented on #321
hey @AVGP
I would like to work on this issue.

[2019-10-05 09:25] yogesh-io commented on #321
hey @AVGP,
create a PR for this, please have a look.

[2019-10-05 14:04] AVGP commented on #321
@mfaheemakhtar That's correct! Good catch! 👍

I just merged the PR that replaces them with markdown for images - would you like to do another PR to use the HTML markup you mention?

[2019-10-05 14:42] mfaheemakhtar commented on #321
@AVGP , sure.

[2019-10-05 15:26] mfaheemakhtar commented on #321
@AVGP,  there are a couple of issues here.

1. <img class="emoji" src="https://github.githubassets.com/images/icons/emoji/unicode/1f528.png" width="20" height="20"> The `img` tag is being wrapped in an `a` tag. One way is to set `href` to `#`.

2. When using the actual emoji, it is being replaced by an `g-emoji` element, which has its own styles plus it sets the height and width to '1rem'.

TLDR:

[2019-10-05 16:37] #321 closed

[2019-10-05 22:41] AVGP commented on #288
Feel free to reopen this issue with more information.

[2019-10-05 22:41] #288 closed

[2019-10-05 22:41] AVGP commented on #224
Feel free to reopen this issue with more information on how to reproduce this problem.

[2019-10-05 22:41] #224 closed

[2019-10-05 22:42] AVGP commented on #259
Feel free to reopen this issue with more information how to reproduce the problem.

[2019-10-05 22:42] #259 closed

[2019-10-05 22:42] AVGP commented on #283
Feel free to reopen this issue with more information how to reproduce the problem.

[2019-10-05 22:42] #283 closed

[2019-10-05 22:42] AVGP commented on #287
Feel free to reopen this issue with more information how to reproduce the problem.

[2019-10-05 22:42] #287 closed

[2019-10-06 09:25] AVGP commented on #324
While we have an initial version of the configure docs now, this issue is still available for someone who wants to elaborate on the config options - especially on what "timeout" means and how the caching option works. Happy to give additional guidance if needed :)

[2019-10-06 11:22] Wahaj26 commented on #264
i would like to create PR @AVGP,  if you say ?

[2019-10-06 11:35] AVGP commented on #264
Sure thing!

On Sun, Oct 6, 2019, 13:23 Qazi Wahaj <notifications@github.com> wrote:

[2019-10-06 13:53] Wahaj26 commented on #264
@AVGP PR created.

[2019-10-06 14:40] Wahaj26 commented on #317
@AVGP please let me know if this documentation is enough or need some more explanation.(https://github.com/GoogleChrome/rendertron/pull/332)

[2019-10-08 23:43] grachit commented on #320
@AVGP  I working on details.

[2019-10-11 09:54] vesper8 commented on #296
@AVGP I would really like more control over the cache... does the in-memory support redis? if not what does it use?

Is there a cache/recache API that lets you know if an url is cached, let's you invalidate it / queue a recache

Would really like more options too, such as using AWS S3 for storing cache, or using the filesystem, for machines that are low on memory. For cases where the user does not

[2019-10-11 18:46] shaharyar123 commented on #318
ref : https://github.com/GoogleChrome/rendertron/pull/336

[2019-10-12 23:07] vesper8 opened #338 "[Feature Request] Add Filesystem cache"
- Add a filesystem-cache provider, similar to datastore-cache or memory-cache, but persisting the cached render results to the file system.
- Allow `filesystem` to be a value for the `cache` option
- Allow configuration of the number of entries (can be hardcoded for now) that the cache can hold
- Add tests
- Add docs

------ Previous discussion ------

Currently the only cache options are in-memor

[2019-10-12 23:51] AVGP commented on #338
Hey @vesper8, thanks for opening an issue.

I think you're actually having like three feature requests, if not four in this one:

1. Make the size of the cache a config option
2. Add a filesystem cache provider
3. An API endpoint to recache
4. API to invalidate or verify a URL

Note: There's also #37 for an endpoint to clear the cache. Would you be okay if I split this issue up like in the enumera

[2019-10-12 23:51] AVGP commented on #338
Also: The datastore & memory cache should give you an idea on how to implement new cache providers, so if you wanna give it a go, I'd be happy to provide guidance!

[2019-10-13 07:50] vesper8 commented on #338
Yes by all means split it as you see fit, it's true that 3 of 4 would also benefit the other cache providers

I will see about giving this a try, the thing is I have not adopted typescript yet, nor have I forked a pure JS project before.. but maybe it's time I did

Thanks!

[2019-10-13 08:48] vesper8 commented on #338
In the meantime I've setup a datastore which was pleasantly easy enough.. there was a bit of confusion because Datastore is being replaced by Firestore and I wasn't sure whether to use the Native Mode or the Datastore Mode.. I chose the Datastore Mode and everything seems to be working good.

@AVGP Considering this filesystem alternative might take some time.. can we at least put priority on makin

[2019-10-13 09:02] vesper8 commented on #270
@mavame @AVGP is right, your fork doesn't include any actual changes besides changes in the Readme.md.. did you forget to commit the actual change that prevents the pulling of images and stylesheets? I think this would be a good-to-have as well for everyone

[2019-10-13 09:14] AVGP opened #339 "Advanced cache configuration"
As our caching options became more flexible and caching is an integral part of Rendertron we would like to introduce a different way of handling cache configuration.

Currently, the cache configuration is `cache` and can either be `null`, `datastore` or `memory`.

The goals of this issue are:

- Change the [`cache` property](https://github.com/GoogleChrome/rendertron/blob/0ed866fa98b31884289fcc8f2

[2019-10-13 09:15] AVGP commented on #338
Because having *some* caching is better than having none, b/c whoever wrote that might not have known how / had the time to implement this as a config setting.

We are about to produce a new major version anyway (other things introduced backwards compatibility breaking changes), so I'd say now is a good time to restructure the config, like you suggested.

I filed #339 for the config part, I'll add

[2019-10-13 09:24] vesper8 commented on #338
Right.. apologies for my tone there.. thank you for breaking this up and taking it on, really excited to see future enhancements to this most excellent project. I tried out prerender.io (or tried to) and after having it fail on me over and over, I tried Rendertron instead and it was a joy from the beginning and so easy to set up in comparison. It just needs a little more control over the caching o

[2019-10-13 15:20] geritol commented on #338
@AVGP I am interested in creating a provider for a Filesystem cache!

[2019-10-13 17:12] vesper8 commented on #25
@samuelli I'm looking for such a domain whitelist feature.. to prevent others from using my Rendertron instance.. but I don't see this mentioned anywhere.. was this removed.. or.. could you please point me to how it works? Thank you!

[2019-10-14 12:26] AVGP opened #340 "[Docs] Add API reference documentation"
- Create / edit `docs/api-reference.md`.
- List the API methods (currently `/render` and `/screenshot`) and explain them and their parameters.
- Link to the new doc in `docs/index.md`

[2019-10-14 12:31] AVGP commented on #320
@grachit Any updates?

[2019-10-14 15:43] #340 closed

[2019-10-15 08:00] smtaha512 commented on #339
Please assign it to me.

[2019-10-15 08:10] vesper8 commented on #339
whoever tackles this, I think it would be extra awesome if you on top of being able to configure the default expiry time, it was also possible to override that via the API.

For example, on my site I have pages that will never change again vs pages that change on a weekly basis. I would like to cache those that will never change again for a 1 year period and the others might use the default value

[2019-10-16 09:34] AVGP opened #342 "Add an API endpoint to invalidate a cached URL"
The API endpoint should let users specify a URL they want to remove from cache and then remove it.
The two existing cache providers [datastore-cache](https://github.com/GoogleChrome/rendertron/blob/master/src/datastore-cache.ts)
and [memory-cache](https://github.com/GoogleChrome/rendertron/blob/master/src/memory-cache.ts) already contain code to delete a
single entry from their cache, but don't ex

[2019-10-16 09:36] AVGP commented on #338
@geritol I'll assign you to this issue then :)

[2019-10-16 09:40] AVGP opened #343 "Add refreshCache parameter to render API"
Right now, the `/render` API endpoint respects the cache (if configured)
but it would be useful to allow refreshing of the cached render result through a new parameter (`refreshCache`).

Goals of this issue:

- Extend the datastore-cache and memory-cache to check `context.query.refreshCache`.
- If the parameter is present, they should ignore potentially cached data and treat the request as if it i

[2019-10-17 03:29] krishnan-r commented on #342
Hi,
I found this issue from the Hacktoberfest label. I'd like to work on it. I'll raise a PR shortly.

[2019-10-17 19:58] AVGP commented on #342
@krishnan-r I assigned the issue to you.

Feel free to ask questions and open the PR as work-in-progress :) We're happy to help!

[2019-10-18 09:05] grachit commented on #320
Can u try tests on following page? Contents rendered are not always consistent.

[https://www.walmart.com/ip/ZOSI-Outdoor-1080P-HD-WiFi-Wireless-IP-Security-Bullet-Camera/982404880](url)

[2019-10-18 09:19] vesper8 commented on #342
here is my makeshift standalone cache/check/invalidate/recache solution using Laravel.. in case it might serve as inspiration

example usage: `php artisan rendertron recache https://www.example.com/uri`

[code]

[2019-10-18 10:19] houfu commented on #343
Just to be clear, does this need to replace the cache?

[2019-10-18 10:23] AVGP commented on #343
Very good question, yes it should refresh the cached content as well I
think.

On Fri, Oct 18, 2019 at 12:19 PM Houfu Ang <notifications@github.com> wrote:

[2019-10-18 17:18] krishnan-r commented on #342
Hi @AVGP,  I have opened a work in progress PR. Will discuss on refining it shortly. Thanks for the help :)

@vesper8 Thanks for the snippet, I will look into that and the cloud datastore cache part.

[2019-10-24 08:13] AVGP commented on #343
Thank you very much, @houfu!

[2019-10-27 02:56] gigamesh opened #348 "How can I speed up rendering?"
The team I've been working with has been struggling to get rendertron to work consistently for a long time. I think the main problem is that it takes too long (often 10-15 seconds), so social media bots timeout. I've tried adding `"cache": "datastore"` to the config.json and upped the timeout, but it didn't help much. The meta tag data only shows up in social media cards about half the time, at be

[2019-10-27 08:49] vesper8 commented on #348
are you sure your cache is working? when I visit a page that's been cached (in the datastore) it loads the html instantly.. it in fact loads the page much faster this way then by visiting the site normally

Are you sure that the social media user agent is caught by your middleware and being routed to the cache?

Maybe you need to increase the cache expiry, by default it's set to just 1 day but I s

[2019-10-28 08:07] gigamesh commented on #348
Thanks for the reply

I think the cache is working yes (loads instantly after the 2nd try), and I've verified that the user agent is caught & rerouted.

How do I increase the cache expiry?

[2019-10-28 09:33] vesper8 commented on #348
As far as I know there isn't yet a convenient way to change the cache expiry, but I easily got it working by simply editing this line in my local rendertron installation: https://github.com/GoogleChrome/rendertron/blob/c0d47e15700b3e6fc1cf35f009f5a545e45361f6/src/datastore-cache.ts#L54

Then just restart the node worker (I use PM2 for this) and voila. You can confirm that it's working by inspectin

[2019-10-28 13:34] bill-pux opened #349 "rendertron and images lazy load"
Hi there,

first off all, thanks for the good work, keep it up !

then i have a newbie question related to the https://render-tron.appspot.com/
page.
How does it work ?
Whenever i try to render or screenshot my site (www.rsi.ch)
it reloads without giving me any feedback ... just reloads and that's it.
Is there any geo limitation in the use ?
What can i do to see the result of a "proper" install of

[2019-10-29 06:24] ramyhhh opened #351 "Timeout is hardcoded for screenshot instead of using the value from config"
I noticed that no matter what you put in config for timeout, it's not affecting for screenshot. So I found that in the file [renderer.ts](https://github.com/GoogleChrome/rendertron/blob/master/src/renderer.ts#L192) line 192 it's hard coded as 10 seconds instead of reading it from ```this.config.timeout```

[2019-10-29 08:20] AVGP commented on #351
Hey @ramyhhh - would you be interested in making the fix yourself and opening a pull request?

[2019-10-29 08:24] AVGP commented on #349
Not sure what's causing the issue, but the screenshot works fine for me.

What browser are you using? Have you tried it from multiple devices?

There's no limitations, besides a 10s timeout.

https://render-tron.appspot.com/screenshot/https://rsi.ch/?width=1366&height=670 returns a screenshot as expected when I try it.

[2019-10-29 08:28] AVGP commented on #293
I can't reproduce this.

If you have a way to reproduce this behaviour, please feel free to reopen this bug and add information.

[2019-10-29 08:28] #293 closed

[2019-10-29 08:28] #264 closed

[2019-10-29 10:21] bill-pux commented on #349
Then it might be all the security checks we're here in the office.

thanks so much.

[2019-10-29 10:21] #349 closed

[2019-10-29 11:11] ramyhhh commented on #351
Sure!

[2019-10-29 11:28] AVGP commented on #351
Awesome, let me know if you need anything to make it happen :)

[2019-10-31 22:36] vladimirdjurdjevic commented on #351
The same goes for the port. Port is set to: `process.env.PORT || 3000`, and value from config is ignored. Also, I don't see how memory cache works. It seems like only `datastoreCache` boolean is used from the config.

[2019-11-04 20:03] ramyhhh commented on #351
@vladimirdjurdjevic I've checked ```src/rendertron.ts``` and found out that **port** is getting filled from process or config [init port](https://github.com/GoogleChrome/rendertron/blob/master/src/rendertron.ts#L22). Also **cache** is controlling which store to load in this [line](https://github.com/GoogleChrome/rendertron/blob/master/src/rendertron.ts#L49)

[2019-11-06 03:42] grachit commented on #320
@AVGP any update on it?

[2019-11-08 16:31] hjpunzalan commented on #281
bump this is still happening

[2019-11-10 23:34] brettwillis opened #354 "Rendertron Middleware - Add optional callback for hostname"
Consider when the `rendertron-middleware` is deployed for example on Cloud Run behind a Firebase Hosting site, where requests are directed via Firebase Hosting which has a different domain/hostname from the Cloud Run instance.

The middleware uses [`req.get('host')`](https://github.com/GoogleChrome/rendertron/blob/c0d47e15700b3e6fc1cf35f009f5a545e45361f6/middleware/src/middleware.ts#L116) which wo

[2019-11-18 15:11] japharl opened #355 "internal error at the moment on appspot.com"
The alpha service is currently returning a 500 error message.  Attempted to render http://serveo.net

[2019-11-26 08:44] azardev commented on #294
on my server cashing is only working for mobile mode, any same issue?

[2019-11-30 18:32] abdonrd opened #356 "Rendertron doesn't work with open-wc application"
Rendertron doesn't work with `open-wc` application.

You can see how the app works:
https://open-wc-starter-app.netlify.com

But Rendertron show a white screen:
https://render-tron.appspot.com/render/https://open-wc-starter-app.netlify.com

Same white screen with the `?wc-inject-shadydom=true`:
https://render-tron.appspot.com/render/https://open-wc-starter-app.netlify.com?wc-inject-shadydom=true

[2019-11-30 20:13] abdonrd commented on #356
I also had tried with the Polymer PWA Starter Kit.

You can see how the app works:
https://psk-demo-6e320.web.app

It just works:
https://render-tron.appspot.com/render/https://psk-demo-6e320.web.app

Also works with the `?wc-inject-shadydom=true`:
https://render-tron.appspot.com/render/https://psk-demo-6e320.web.app?wc-inject-shadydom=true

[2019-11-30 21:44] abdonrd commented on #356
Moved to https://github.com/open-wc/open-wc/issues/1070.

[2019-11-30 21:44] #356 closed

[2019-12-06 12:03] vesper8 commented on #297
@AVGP any update on when a new version will be published? I believe there has been a ton of commits since the last release

[2019-12-06 15:57] Hexmage opened #357 "refreschCache param doesnt work with Service Worker"
We are using a Service Worker to cache GraphQl responses for 2 hours. Sadly this has the side effect that Rendertron is using this Service Worker caching as well, even when using the refreshCache param.

I would have expected the refreshParm to also stop this from happening.

[2019-12-06 19:02] AVGP commented on #357
Could you share a test case for this? And if you want to give fixing it a go, let me know!

[2019-12-09 12:03] AVGP commented on #355
First things first: Remember that this is a demo instance, you should not rely on it but run your own instance instead.

Now, when I test that URL it works.
<img width="896" alt="Serveo__expose_local_servers_to_the_internet_using_SSH" src="https://user-images.githubusercontent.com/370246/70434363-4989e300-1a84-11ea-89c0-a62935c9d984.png">

If the issue persists, feel free to reopen this issue

[2019-12-09 12:03] #355 closed

[2019-12-09 15:24] grachit commented on #320
@AVGP Kindly update us on it.

[2019-12-10 21:17] mfsanchez opened #358 "Base routes are always empty"
Hi,
I have been trying to use rendertron through an apache proxy, but all the base routes are "null", is it possible that I am making some configuration error? I would appreciate if you could help me.

![image](https://user-images.githubusercontent.com/34313628/70569749-86c7a100-1b68-11ea-9da0-db3f43201c44.png)

Rendertron is running on port 3000 that has by default. and the apache host is this:

[2019-12-11 19:26] mfsanchez commented on #358
I could detect that a slash corresponding to the protocol in the initialization is removed from the url

[code]

I solved it by adding the following method in the rendertron class and calling it from the handleRenderRequest method

[code]

[code]

[2019-12-11 19:26] #358 closed

[2019-12-17 14:54] abdonrd opened #360 "progress-bar.html not found"
Rendertron used to have a progress bar while waiting for the rendering
https://github.com/GoogleChrome/rendertron/blob/3b75d5b7dfc4ceac47bb30568f417a4fc2b6a9b9/src/index.html#L237

This file doesn't exist anymore and we should replace it with a simple [HTML progress element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress).

[2020-01-07 13:49] ramyhhh commented on #351
@AVGP I did the **pr** a while ago, I'm not sure if you guys saw it! I came across it today and found out that it's still open [Pull Request](https://github.com/GoogleChrome/rendertron/pull/352)

[2020-01-07 14:19] AVGP commented on #351
Merged!

[2020-01-07 14:19] #351 closed

[2020-01-07 14:19] AVGP commented on #297
The plan is to finalize all the PR merges and docs and release the next major version within this month.

[2020-01-07 14:21] AVGP commented on #360
I guess we can just remove this, then. As far as I can tell that file hasn't existed since at least 2017.

[2020-01-07 14:23] AVGP commented on #348
Closing this issue. If you have further input or want to implement a config option for this, let us know.

[2020-01-07 14:23] #348 closed

[2020-01-07 14:24] #286 closed

[2020-01-08 14:01] abdonrd commented on #360
I just saw that this does exist in several places:

<img width="343" alt="Screenshot 2020-01-08 at 14 57 19" src="https://user-images.githubusercontent.com/1007051/71983530-491d6d00-3227-11ea-9c35-5ca318ca52d9.png">

[2020-01-08 14:03] abdonrd commented on #360
I just tried to replace the path with the dependency path:

`node_modules/progress-bar-element/progress-bar.html`

But it doesn't work. What is the correct way to import a npm dependency into this project?

[2020-01-13 08:38] Hexmage commented on #357
@AVGP
I have the following Scenario:
- We are using a graphql call to obtain the contents of a page.
- We have a service-worker.js which caches the graphql call.
- Sometimes the graphql call, causes a error on fetching the data. This is now cached by Rendertron.
- Using the refreshCache=true parameter does not flush the service-worker.
- Restarting Rendertron does remove this cache.

[2020-01-21 10:41] imShara opened #362 "Page fail issue not handled"
[code]

[2020-01-23 17:50] redfellow opened #365 "How do I set the flag ignoreHTTPSErrors for Puppeteer so that unsigned certificates work while developing?"
Error: `Error: net::ERR_CERT_COMMON_NAME_INVALID at https://dev...`

Googling a bit lead me to find the `ignoreHTTPSErrors` flag that can be used with Puppeteer.connect, but I'm not sure if this can be configured in Rendertron. Any ideas?

[2020-01-28 12:49] AVGP commented on #362
Would you have a URL where we can try this out.
Also, sounds like this would be a good first pull request, if you want to contribute a solution :)

[2020-01-28 14:36] AVGP commented on #365
Right now there is no mechanism to pass flags into Puppeteer, but I think if you're interested in implementing that, you could extend the [Config and ConfigManager](https://github.com/GoogleChrome/rendertron/blob/master/src/config.ts) and allow a key-value pair set to pass options into Puppeteer. That would happen [here in the Rendertron code](https://github.com/GoogleChrome/rendertron/blob/0ed866

[2020-01-28 14:37] redfellow commented on #365
I found out that in headless mode the args are simply ignored. Local development workaround was to edit the `rendertron.js` to read: `const browser = await puppeteer.launch({ headless: false, ignoreHTTPSErrors: true });`

I'll be using that until I can sort out certificates in local dev env.

[2020-01-28 14:37] #365 closed

[2020-01-28 14:51] imShara commented on #362
It's not fails every time. But if page crashes it kills rendertron. Will dig into this then.

But just achieved another problem (I will open another issue)

[2020-01-28 14:56] imShara opened #366 "Error: WebSocket is not open: readyState 3 (CLOSED)"
Rendertron is working 24/7 and after some day (1-2) it fails with error
`Error: WebSocket is not open: readyState 3 (CLOSED)`
And browesr won't restart

This bug is [relative to Puppeteer](https://github.com/puppeteer/puppeteer/issues/4428) and it has [workaround](https://github.com/puppeteer/puppeteer/issues/4428#issuecomment-500184469)

[code]

[2020-02-07 09:53] thanhhoa214 opened #367 "Rendertron cannot load JS file 1584KB."
# Rendertron cannot load js file 1584KB ☹☹.

### Hi there,
I'm newbie with Rendertron. My current project requires e-commerce using **[Saleor](https://saleor.io/)** and optimising SEO by **Rendertron**.

All things work well in my pet project till I integrate Rendertron into Saleor.
Saleor uses webpack bundles to an JS file just more than **1.5MB** and my **index.html** call it but **Rendertron**

[2020-02-07 10:43] AVGP commented on #367
Thanks for opening a bug!

Now, I was intrigued by the notion of the size of your JavaScript breaking Rendertron.
I tried to reproduce the problem by building https://i-am-big.glitch.me/.

That test case loads 2 MB of JavaScript. Within that JavaScript it generates the content of the page. The [source code can be seen (and copied/edited) here](https://glitch.com/edit/#!/i-am-big?path=public/client

[2020-02-07 10:45] AVGP commented on #366
Thanks for reporting this bug!

Would you be interested in trying to add the workaround to Rendertron?
You can look at https://github.com/GoogleChrome/rendertron/blob/master/src/rendertron.ts#L32 to see where we're instantiating the internal puppeteer instance.

[2020-02-07 10:47] AVGP commented on #357
Right, sounds like there's a bunch of stuff going on.
Would you be able to reproduce this on a super simple web page that uses a service worker that loads and caches some simple data?

[2020-02-07 10:48] AVGP commented on #354
would you be interested in implementing this?

[2020-02-07 10:55] imShara commented on #366
@AVGP I have made temporary solution but it not ready for commit. Stay tuned

[2020-02-08 03:25] thanhhoa214 commented on #367
I use **ngrok** to publish it but in an other way, I cannot keep it too long.
Next time you comment I'll make it live for you.

## More clarification:
I created an git repo here: [https://github.com/thanhhoa214/demo-rendertron](https://github.com/thanhhoa214/demo-rendertron)
Now, my shortern structure:
![image](https://user-images.githubusercontent.com/32329202/74078248-7cd3f880-4a5a-11ea-916a-f19

[2020-02-13 13:04] ehausen opened #368 "Possible malware on the home page, render-tron.appspot.com"
When I go render-tron.appspot.com [POSSIBLE MALLWARE BEHIND THAT URL] , which seems to be the home page for this project, my antivirus software gives this warning:

![image](https://user-images.githubusercontent.com/6204129/74349371-d6bb2200-4dbc-11ea-9831-52006b63e7da.png)

[2020-02-13 17:41] AVGP commented on #368
Do you happen to know how to report a false positive for avast?

[2020-02-19 16:15] citricacid-pl commented on #286
Avast is detecting this as phishing too.

<img width="1440" alt="Zrzut ekranu 2020-02-19 o 16 59 29" src="https://user-images.githubusercontent.com/745572/74851253-455b2b00-533b-11ea-94f5-424abae31256.png">

[2020-03-05 15:38] AVGP commented on #368
Reported as false positive to Avast.

[2020-03-05 15:38] #368 closed

[2020-03-06 10:12] AVGP commented on #286
For Avast I could report it as false positive, at least.

[2020-03-12 11:39] abdonrd commented on #366
I have the same issue!

[2020-03-12 11:55] abdonrd commented on #366
@AVGP @imShara check this PR https://github.com/GoogleChrome/rendertron/pull/369

[2020-03-13 14:38] AVGP commented on #367
I ran the demo version (also through ngrok proxy) including your thanhhoa214.js and rendertron was rendering it fine as you can see here:
![Screenshot of the rendertron output](https://user-images.githubusercontent.com/370246/76630560-88767b80-6540-11ea-8ba4-51adc00168c5.png)

Have you tried reducing the code in that file by disabling components or removing content and seeing what specific part of

[2020-03-13 15:29] AVGP commented on #366
Thanks for working on this, @abdonrd - I did leave a comment on the PR :)

[2020-03-13 15:36] AVGP commented on #362
By disabling the check for HTTP(S) URLs and requesting to serialize "chrome://crash" I am able to reliably reproduce the issue. Thanks for reporting, @imShara

[2020-03-14 15:39] #366 closed

[2020-04-01 12:21] pwnkumar221 opened #374 "Rendertron rendering fine but SEO crawler showing timoeout error"
SEO crawler shows timeout error.
How to fix this issue?
I have also enabled cache but I have to fetch it again and agin in debugger to get the og tags in second time rendering as it serve cache it shows og tags but not in first fetch.

![Screenshot 2020-04-01 at 5 49 12 PM](https://user-images.githubusercontent.com/45421953/78136431-3343d080-7441-11ea-8ddd-9052aa300891.png)
![Screenshot 2020-04-01

[2020-04-01 14:13] AVGP commented on #374
Besides making the URL faster to render, you can pre-warm the cache by requesting a renderer before you test the URL in these tools.

[2020-04-02 03:51] pwnkumar221 commented on #374
Any article on how to do the pre warm cache???

[2020-04-02 08:02] pwnkumar221 commented on #374
Any article on how to do the pre warm cache???

[2020-04-04 00:42] j-heinze opened #375 "https request results in http <base href> using express-middleware"
I am using the express-middleware and I am sending a request with LinkedInBot as User-Agent via Postman to my domain with https as protocol. This results in rendertron being called with a non-https-Url. Due to this the `<base href>` in the html is also a non-https-URL. This results in a mixed-content error in various browsers.

The problem must be within my express setup or the rendertron-middlewa

[2020-04-04 09:17] j-heinze commented on #375
Okay,

apparently I was behind a proxy and hat to enable trust-proxy in my express settings. Sorry, for that.

[2020-04-04 09:17] #375 closed

[2020-04-08 13:22] AlexMachin-Xercise4Less opened #376 "Question: Sitemap generating"
Hi,

For my companies site were using Rendertron, so far it has worked wonders, it helped us at a critical time in December. However, we need to be able to generate a sitemap.

Does Rendertron support this functionality? It discovers all 400+ pages, surely it can output all the pages to an XML file which we can upload somewhere.

I'm just looking for a solution, since were using Rendertron I thoug

[2020-04-08 14:39] AVGP commented on #376
Rendertron doesn't discover sites, it just passes through requests, really.
Depending on your setup (CMS, framework, ..) there will likely be better options.
Also, with a couple hundred pages, sitemaps aren't that useful to Google anyway.

[2020-04-21 13:57] #376 closed

[2020-04-22 05:18] git-ekuo opened #378 "HTML DOCTYPE declaration being stripped"
First of all, thank you for the great project! It saved me a lot of time in making my website crawler-ready.

#### The issue I'd like to report
I believe Rendertron is stripping out HTML DocType declaration in our responses. While it's fine for some crawlers, it's doesn't work so well with some crawlers like Facebook sharing debuggers. May I know if there is a way for rendertron to keep the doctyp

[2020-04-22 09:12] AVGP commented on #378
Hey @git-ekuo thanks for reporting this! As far as I can tell, that is a shortcut we took when getting the DOM content and we should fix this. Would you be interested in giving it a go and trying to fix this? I'm happy to help with this.

Anyway, for anyone who wants to give this a go, we should:

1. Create a test case that fails (render a simple HTML file and check if the doctype is present in th

[2020-04-22 10:40] git-ekuo commented on #378
Hi @AVGP ,

No problem. Sure! I will give it a go. Will ask for your help if I cannot get it working.

[2020-04-22 10:42] AVGP commented on #378
Thanks, that's awesome! Let me know if you get stuck or need a pull request review :)

[2020-04-27 03:07] git-ekuo commented on #378
Hi @AVGP ,

Not sure if you saw my Pull Request, I finished the change. I had trouble passing one of the cache tests. I believe it's not related to my change. Can you give me a hand on that? I checked through the builds, it seemed that you already are trying to resolve it already. Thanks!

[2020-04-27 08:08] AVGP commented on #378
Hey @git-ekuo - thanks for the quick turnaround on the pull request! I'll take a look this week and I think the failing test is a flaky test that we are dealing with anyway, so it should be good to go :)

[2020-04-28 15:50] AVGP opened #381 "Fix the refreshCache tests"
Both the tests for refreshCache with dataStore and with memoryCache seem to be incorrect.
They are also flaky, so we need to rethink and rewrite them.

[2020-04-30 04:30] jackmoore opened #382 "How do I see where rendertron is spending it's time"
It takes rendertron about 2 seconds to render my test, which is much more than my expectation / budget. How do I debug or log this so that I can inspect where it's spending it's time?

[2020-04-30 17:27] AVGP commented on #382
Rendertron itself is a pretty thin layer wrapping around [puppeteer](https://pptr.dev/) which in turn is just a client to [Chrome Devtools protocol](https://chromedevtools.github.io/devtools-protocol/). I expect most of the time is probably spent in Chrome starting up and getting ready to take commands via CDP.

You can use

- [Node.js profiling](https://nodejs.org/en/docs/guides/simple-profiling/

[2020-04-30 17:29] #382 closed

[2020-04-30 17:29] AVGP commented on #378
#379 is merged :)

[2020-04-30 17:29] #378 closed

[2020-04-30 17:35] AVGP opened #383 "Harmonize memory cache and datastore cache"
Currently, the memory cache implementation (unlike the datastore cache) limits the number of entries, but does not have an expiry timer for individual entries, risking that an entry stays cached indefinitely (or until cache is purged / Rendertron is restarted).

Meanwhile, the datastore cache has an expiry timer but no way of specifying a maximum number of entries in the cache, making it possible

[2020-04-30 17:37] AVGP commented on #367
I'll close this bug for now - feel free to reopen with new information.

[2020-04-30 17:37] #367 closed

[2020-04-30 17:41] AVGP commented on #320
Thanks for the patience - when I tested this, what I did see is that sometimes the page takes longer than the default timeout period (10 seconds), which can lead to incomplete renders.

You can configure this by specifying a different timeout in your `config.json`.

[2020-04-30 17:41] #320 closed

[2020-04-30 17:52] AVGP commented on #360
The fundamental problem here is that it uses a webcomponent which is imported via HTML imports. Those are deprecated and we'd need to find out how to implement this properly.

On top of that, Sam doesn't seem to maintain the progress bar anymore (last change was 3 years ago).

I think it's a nice-to-have, so I would turn this issue into a way for a new contributor to provide us with a simple HTML

[2020-05-01 01:44] git-ekuo commented on #381
Hey @AVGP , I am keen to take this on to see if I can have it fixed. Can you assign it to me? I will try to have both test scenarios fixed.

Just my initial thoughts on the issue. Please let me know if it's incorrect.

- Value test on the `refreshCallCount` variable shall be removed. We should test directly that cache (content) is refreshed when `refreshCache=true` is passed in the URL.

[2020-05-01 07:30] dwsmart commented on #383
I would be interested in taking this one on

[2020-05-01 14:18] ashleyish commented on #383
^^I'll tag team with Dave!

[2020-05-01 17:29] richardhofmaenner opened #385 "Host and Port defined in config.json are ignored"
Hi all,

I think I've found a small bug with the host and port config. If you specify the port and/or the host within the config.json in the root directory these two settings wont be used by the server.

**Example**
Inside the config.json I have the following settings:
`{ "port": "2001", "host": "127.0.0.1"}`

After starting the rendertron the server is listening on the default host and port.

![i

[2020-05-02 14:38] AVGP commented on #383
That's awesome, thanks so much @ashleyish and @dwsmart for taking this on :)

[2020-05-02 14:40] AVGP commented on #381
This issue is all yours :) I think you are right - when I re-read the test case, I wasn't sure about this either. I think it would be a cleaner test if it would directly test the cache interface (and thus the cache's content and behaviour).

[2020-05-05 15:04] AVGP commented on #385
Hey @richardhofmaenner Thanks for reporting this! It'd be super great if you would submit a PR fixing this :) Thank you for your support!

[2020-05-05 20:28] odanado opened #387 "TravisCI is failing"
The following error occurs when the `cd middleware && npm run lint && npm run test` command is executed.

[code]

This error has been reported in an issue of `ava`.
https://github.com/avajs/ava/issues/2212

And, the error has been solved in version 3.0 of ava.
https://github.com/avajs/ava/pull/2308

There are three options for resolving this error.

- add `"skipLibCheck": true` in `middleware/tsco

[2020-05-05 20:42] AVGP commented on #387
I think it's time to update ava.

[2020-05-05 20:52] odanado commented on #387
Do you have plans and work planned for the update?
If you don't have a plan, I will like to work on it.

[2020-05-06 14:42] AVGP commented on #387
Go for it, @odanado!

[2020-05-07 08:31] dwsmart commented on #383
I think it's correct to handle the new `filesystem-cache` in the same way too if possible?

[2020-05-07 14:53] #381 closed

[2020-05-07 15:23] AVGP opened #390 "Expand configuration docs"
The configuration documentation ([this file](https://github.com/GoogleChrome/rendertron/blob/master/docs/configure.md) is a copy and paste from the README.

It would be nice to extend it a little bit, especially:

- there is another cache provider "filesystem" that isn't mentioned yet
- the options could be grouped (e.g. `width` & `height` as "Layout" or "viewport", `host` & `port` under "Server s

[2020-05-07 15:30] AVGP opened #391 "Split deployment doc into separate docs"
Currently, [the deployment doc](https://github.com/GoogleChrome/rendertron/blob/master/docs/deploy.md) lists all the deployment options on one page.

It would be nice to split these into separate files and replace the content int `deploy.md` with an intro paragraph (something along the lines of "Rendertron can be deployed on various platforms...") and a list that links to the deployment documents

[2020-05-07 15:35] AVGP opened #392 "Edit (maybe split) the server-setup doc"
The doc currently isn't in the best shape, content hierarchy-wise. It should also possibly be split into separate docs for each server.

Also: The current documentation duplicates the docs/tutorials of the respective servers, which is not helpful IMHO.

[2020-05-07 15:42] AVGP opened #393 "Create best practices documentation"
Right now, there is no "docs/best_practices.md" file.
Create this file and describe the best practices for running Rendertron. Some to get started:

- Run Rendertron behind a firewall or proxy with authentication, because it does not provide an authentication layer.
- Enable caching to speed up the response times
- Regularly pre-warm the cache by requesting a render for your most important URLs to

[2020-05-07 16:32] AVGP commented on #383
@dwsmart That's correct - ideally all caches would behave the same way.

[2020-05-07 18:36] richardhofmaenner commented on #360
Hi @AVGP, I think this issue can be closed. It was related to pr #384

[2020-05-07 18:58] #385 closed

[2020-05-07 19:06] #360 closed

[2020-05-08 09:54] adelura opened #397 "Question: Why googlebot is not on a list of user agents?"
First, thank you for such a cool tool! I managed to implement _rendertron_ successfully on my page :+1:

I'm sorry for asking a dumb question, but why _Googlebot_ is not on the list below? Does it mean that my pages won't server prerendered version for google crawler?

https://github.com/GoogleChrome/rendertron/blob/master/middleware/src/middleware.ts#L24

[2020-05-08 14:47] AVGP commented on #397
Hi, @adelura - thanks for asking!
Googlebot can execute JavaScript and usually doesn't need dynamic rendering like Rendertron provides. That's why Googlebot can be added to the list, if you decide to do so but is not part of the default list of bots.

See [this earlier comment](https://github.com/GoogleChrome/rendertron/pull/258#issuecomment-453104073) for more background.

[2020-05-08 14:47] #397 closed

[2020-05-10 14:41] devGitAbhishek commented on #224
Hi,

I have to scrape multiple times the url via share debugger?

I know facebook caches, but i have to scrap multiple times, i am seeing in logs body send via rendertron is updated one but not getting updated in facebook?

Any workaround this?

[2020-05-10 14:44] devGitAbhishek opened #399 "I have to scrap url multiple times via share debugger, when page is rendered via rendertron"
Hi,

I have to scrape multiple times the url via share debugger?

I know facebook caches, but i have to scrap multiple times, i am seeing in logs body send via rendertron is updated one but not getting updated in facebook?

Any workaround this?

[2020-05-10 14:45] devGitAbhishek commented on #399
This is happening only in case of facebook,twitter works fine.

[2020-05-10 14:45] devGitAbhishek commented on #399
@AVGP any help would be appreciated?

[2020-05-11 09:50] AVGP commented on #399
If this works with Twitter's validator, the problem is likely with the Facebook validator.
I'm assuming you can append query parameters to the URL in order to try and circumvent their caching?

Let's say you are trying the url `https://example.com/some-post`, then append an unused parameter and keep changing the value, so for example you'd try `https://example.com/some-post?dontcachethisfacebook=1

[2020-05-11 09:50] #399 closed

[2020-05-12 14:29] #387 closed

[2020-05-12 16:56] richardhofmaenner commented on #390
Hi @AVGP

I would like to take this and try my first time on docs ;)

[2020-05-12 17:11] AVGP commented on #390
Awesome, go for it, @richardhofmaenner

[2020-05-14 10:57] #392 closed

[2020-05-14 16:48] art2limit opened #403 "Add max entries in memory cache to config"
https://github.com/GoogleChrome/rendertron/blob/master/src/memory-cache.ts

`export const CACHE_MAX_ENTRIES = 100;`

is hard-coded, please add opportunity to change it on config.json

[2020-05-14 18:40] AVGP commented on #403
This will be taken care of in #400

[2020-05-14 22:43] #403 closed

[2020-05-15 01:41] umangnaik opened #404 "Desktop Rendering a blank page using rendertron"
in our angular application, the first page is rendering blank in desktop only with mobile it working fine.
couple a month ago we have changed the structure of our site will it may affect it?...because before release new layout it working well with both desktop and mobile
I have tried with a timeout but with angular, it seems meaningless to use a timeout...
please help me...

[2020-05-18 16:03] pleerock opened #405 "Publish new npm version?"
rendertron on npm is two years old. Features specified in README and multiple bugfixes and memory leak fixes aren't available on npm. Maybe its time to publish a new version?

[2020-05-19 03:09] maxisam opened #406 "strip module scripts"
https://github.com/GoogleChrome/rendertron/blob/04ed0fc6755135d83e3cfa6472d1134d3c05ffa1/src/renderer.ts#L39-L45

Is there any reason we don't strip script with type="module" ?

For angular 8+, it will general 2 differential builds. https://angular.io/guide/deployment#differential-builds

Is it possible to have strip type as an option?

Thanks!

[2020-05-19 08:05] AVGP commented on #406
That's because modules weren't thought of when that was written. I think it doesn't need to be an option, but it should be part of the default behavior. Do you want to write a test and add that behavior there?

[2020-05-19 15:04] AVGP commented on #405
We have a bunch of backwards-compatibility breaking changes lined up for a 3.0.0 release soon. I expect that to happen sometime in June.

[2020-05-19 15:11] AVGP commented on #404
Without a sample URL, there isn't much we can do here.
The fact that it used to work and continues to work with mobile settings suggests that this is a problem in your Angular app, not Rendertron.

If you have more details (especially if you can reproduce this with a URL that you can share with us), feel free to re-open this issue.

[2020-05-19 15:11] #404 closed

[2020-05-19 16:21] art2limit opened #410 "Filesystem cache not working"
this is my config.json:
{
    "cache": "filesystem",
    "cacheConfig": {
    "cacheDurationMinutes": -1,
    "cacheMaxEntries": -1,
    "snapshotDir": "/home/name/rendertron-cache/"
    },
    "timeout": 60000
}

but `rendertron-cache` is not created or after i create it it's empty

[2020-05-19 16:47] dwsmart commented on #410
Hi,

This is my bad, in some revisions forgot to add back the support for -1 for cacheDurationMinutes, I will submit a fix now, but changing line 169 in /src/filesystem-cache.ts https://github.com/GoogleChrome/rendertron/blob/0f64292ddfd46850f22dc33b360986e18d9b9628/src/filesystem-cache.ts#L169

to:
[code]

Should fix this

[2020-05-19 16:51] maxisam commented on #296
support redis would be nice.

[2020-05-19 17:28] art2limit commented on #410
well i change this line to:

    "cacheDurationMinutes": 72000,

and it's still not working :)

[2020-05-19 17:48] dwsmart commented on #410
Strange, I've tested in Ubuntu & windows & seems to work for me, what os are you running on?

Does the user you are running rendertron as have the required permissions to create & write to the directory?

[2020-05-19 17:52] art2limit commented on #410
yep, sorry, i add writing permissions and everything works ok :)

[2020-05-20 14:46] #410 closed

[2020-05-20 14:47] #406 closed

[2020-05-20 17:10] art2limit opened #413 "Generate AMP html version"
There are any way generate amp version of html that rendertron generate?

[2020-05-20 17:53] AVGP commented on #413
No and that is way out of scope for Rendertron.

[2020-05-20 17:53] #413 closed

[2020-05-21 00:59] art2limit opened #414 "Filesystem cache not working on Ubuntu"
my config.json:

[code]

command to start `sudo bin/rendertron`
system: `Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-96-generic x86_64)`

there are no logs on command line about failure, just every same response take ~5 secs to respond and there are not folder or files on snapshotDir

[2020-05-21 01:43] art2limit commented on #414
`npm install & npm update` and start via `npm run start` also don't changed situation

[2020-05-21 05:30] AVGP commented on #383
Thanks so much for landing this!

[2020-05-21 05:30] #383 closed

[2020-05-21 05:31] AVGP commented on #414
The file system csche is a feature that isn't on npm yet. Soon we will publish version 3.0 but for now, you will have to install Rendertron from Github for this to work - see https://docs.npmjs.com/cli/install

[2020-05-21 05:31] #414 closed

[2020-05-21 05:37] AVGP commented on #374
Write a script that calls rendertron for the URLs you want cached. For example:

[code]

[2020-05-21 05:37] #374 closed

[2020-05-23 14:29] pwnkumar221 opened #415 "Rendertron was working perfectly but now i am getting error"
<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>503 Over Quota</title>
<script src="/cdn-cgi/apps/head/zydX3V1wVRU3e75QfG6014FJ4t0.js"></script><style></style>
</head>
<body text=#000000 bgcolor=#ffffff>
<table border=0 cellpadding=2 cellspacing=0 width=100%>
<tr><td bgcolor=#3366cc><font face=arial,sans-serif color=#ffffff><b>Error</b></td></tr>
<tr><td>&nbs

[2020-05-23 15:40] AVGP commented on #415
That's a problem with the application you're rendering. You'd have to ask the administrator of that application what to do about the quota.

[2020-05-23 15:41] #415 closed

[2020-05-25 01:16] umangnaik commented on #404
Hello
        Below are our live site URL https://right-on.co.jp/
currently, we have resolved our PC & sp conflict HTML CSS code
so we can able to get mobile code in desktop but still we are far away from
mobile view in google cached & desktop view in google cached

seems code site issue in it.
currency only a few views are rendered in google cached pages..
maybe due to the lazy loading component

[2020-05-27 13:57] buddies2705 opened #416 "How to exclude APIs"
I have two machines, both with the same code

1- Main machine - Main website code
2 Api machine - for serving APIs

Main machine domain - https://example.com
API machine domain - https://api.example.com

how I can exclude all the API calls here.

I think I need to use `excludeUrlPattern` here.

Is this the correct way to exclude the API calls?

`excludeUrlPattern: new RegExp('api.example', 'i')
`

[2020-05-27 14:14] #354 closed

[2020-05-27 15:46] buddies2705 commented on #416
I tried above but it's not working.